:root {
    --primary: #f5f5f5;
    --black: rgba(0, 0, 0, 1);
    --white: #fff;
    --obsidian: #070f18;
    --textColorDark: #081131;
    --textColorLight: #5e5b5b;
    --textColorLighter: rgb(159, 159, 159);
    --btnColor: rgb(12, 33, 145);
    --accentColor: #023047;
    --textBlue: #0C2191;
    --greenish: #023047;
    --secondary: #2F80ED;
    --gray: #9DA6BA;
    --info: #5A63F7;
    --green: #037615;
    --mobile: 425px;
    --tablet: 768px;
    --laptop: 1024px;
    --letterSpacing: 0.6px;
}


.jumbotron {
    /* height: 100vh; */
    /* border: 5px solid red; */
    padding-top: .5rem;
    height: min(100vh, 500px);
    width: 100%;
    background: url("../../images/Rectangle5775.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: center;
    color: var(--white);
}

.jumbotron__cover {
    height: 100%;
    width: 100%;
    display: flex;
    /* padding: 1rem 0; */
    /* border: 2px solid green; */

}



.jumbotron__absolute {
    flex-basis: 100%; 
    /* border: 2px solid yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.jumb_container {
    flex-basis: 100%; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center
    /* padding-top: 2rem; */

}
.jumb_container img{
    max-width: 100%;
    height: 100%;
    width: 80%;
    object-fit: contain;
    object-position: center;

}

@media (max-width: 767px) {
    .jumb_container {
        max-height: 400px;
       
    
    }
    .jumb_container img{
       
        height: auto;
       
    
    }   
}

.jumbotron__image {
    /* border: 2px solid red; */
    height: 100%;
    width:100%;
    background: url("../../images/Group927.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: center;

}

.jumbotron__absolute h1 {
    width: 80%;
    line-height: 1.4 ;
    font-weight: 600;
    /* color: var(--theme-blue); */
    color: var(--white);

    margin-bottom: 15px;
}

@media (max-width:1200px) {
    .jumbotron__absolute h1 {
        width: 100%;
     
    }    
}

.jumbotron__absolute p {
    line-height: 2;
    letter-spacing: 0.4px;
    width: 100%;
    margin-bottom: 2 0px;
    /* color: var(--theme-blue); */
    color: var(--white);

}

.jumbotron__absolute>div {
    text-align: start;
}

.jumbotron__absolute button {
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    color: var(--white);
    background-color: #F75C4E;
}


.how_it_works,
.frequently_asked_questions {
    padding:  2rem 50px 0 50px;
    /* margin-bottom: 30px; */
}
.reviews{
    padding:  0 50px 2rem 50px;

}


.best_features {
    /* background-color: var(--white); */
    margin-bottom: 0px;
    margin-top: 30px;
}

.how_it_works {
    /* background-color: rgba(157, 166, 186, 0.53); */
}

.it_works_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    box-shadow: 2px 12px 2px rgba(0, 0, 0, 0.01);
}

@media screen and (max-width: 1195px) {
    .it_works_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 920px) {
    .it_works_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .it_works_grid {
        grid-template-columns: 1fr;
    }
}

.it_works {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, .2);
}

.it_works h4 {
    font-size: 1.1rem;
    margin-top: 20px;
}

.it_works p {
    font-weight: 400;
    color: #464646;
}

.how_it_works h1,
.best_features h1,
.frequently_asked_questions h1,
.reviews h1 {
    color: var(--textBlue);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.reviews {
    background-color: #CBD0DA;
}

.how_it_works>p,
.best_features>p,
.frequently_asked_questions>p,
.reviews>p {
    text-align: center;
    color: var(--textBlue);
    margin: 0px auto;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
    width: 60%;
    margin-bottom: 60px;
}

.how_it_works>p:before,
.best_features>p:before,
.frequently_asked_questions>p:before,
.reviews>p:before {
    content: "";
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 0;
    /* width   : 40%;  or 100px */
    border-bottom: 8px solid #F75C4E;
}

.best_features__content {
    display: grid;
    grid-template-columns: 1.1fr 0.8fr;
    grid-gap: 50px;
    margin: 10px auto;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;
}

.image_container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 33, 145, 0.3);
    border-radius: 10px;
    width: 90%;
}

.creator{
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 250px 400px;
    padding: 20px;
    gap: 10px;
    background-color: #E8EFFF;
    margin: 80px 0px;
}

.creator_image_small {
    padding: 3px;
    background-color: #bed1ff;
    height: 160px;
    border-radius: 5px;
}

.creator_image_small img {
    width: 100%;
}

.creator_image_big {
    width: 100%;
    height: 100%;
}
.creator_image_big img{
    width: 100%;
    height: 100%;
}

.live_class {
    width: 100%;
    display: grid;
    grid-template-columns: 350px 250px 1fr;
    padding: 20px;
    gap: 10px;
    padding-left: 100px;
}

.live_class_image_small {
    padding: 3px;
    background-color: #E8EFFF;
    height: calc(150px);
    border-radius: 5px;
}

.live_class_image_big {
    width: 100%;
}
.live_class_image_big img{
    width: 100%;
}

.live_class_image_small img {
    width: 100%;
}
@media screen and (max-width: 945px) {
    .best_features__content {
        grid-template-columns: 1fr !important;
    }
}


@media screen and (max-width: 1295px) {
    .live_class {
        grid-template-columns: 300px 250px 1fr;
    }

    .creator{
        grid-template-columns: 1fr 250px 300px;
    }
}

@media screen and (max-width:888px){
    .live_class {
        display: flex;
        flex-direction: column-reverse;
    }
    .creator {
        display: flex;
        flex-direction: column;
    }
    .live_class_image_small {
        height: 250px;
        display: flex;
        justify-content: center;
       
    }
    .live_class_image_small img {
        max-width: 100%;
        width: auto;
    }
}

.image_container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.how_it_works_container {
    padding: 30px;
    margin-top: 20px;
}

.image_card {
    width: 90%;
    padding: 10px;
    align-self: flex-end
}

.image_card span {
    background-color: var(--textBlue);
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.image_card span svg {
    color: var(--white);
    font-size: 1.5rem;
}

.image_card h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0C2191;
    letter-spacing: 0.6px;
    position: relative;
    font-weight: 500;
    padding-bottom: 10px;
}

.image_card h4:before {
    content: "";
    position: absolute;
    left: 0%;
    right: 75%;
    bottom: 0;
    /* width   : 40%;  or 100px */
    border-bottom: 8px solid #F75C4E;
}

.image_card p {
    font-size: 0.9rem;
    line-height: 24.2px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.paper p {
    font-size: 0.9rem;
    color: #070F18;
    line-height: 1.5;
}


.frequently_asked_questions_container {
    padding: 30px;
}

.frequently_asked_questions_container h6, .frequently_asked_questions_container p {
    color: #0C2191 !important;
}

.frequently_asked_questions_container > div >div > div::after {
    display: none;
}

.reviews_paper {
    width: 100%;
    padding: 40px 20px;
    border-radius: 20px;
}

.reviews_paper q {
    font-size: 0.9rem;
    color: var(--textColorLight);
}


.reviews_info {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews_info>div {
    display: flex;
    width: 70%;
    align-items: center;
}

.reviews_info>div img {
    margin-right: 20px;
}

.reviews_info>div>div h5 {
    font-weight: 600;
}

.reviews_info>div>div span {
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    color: var(--textColorLight);
}


.breadcrumb {
    padding: 30px 50px;
    text-indent: 20px;
}

.profile_navigation {
    padding: 20px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(159, 159, 159, .3);
    margin: 0px auto;
    margin-bottom: 50px;
    width: 90%;
}



.breadcrumb_link {
    color: var(--textColorLighter);
    font-weight: 300;
}

.breadcrumb_main_page {
    color: var(--textBlue);
    font-weight: 500;
}

.profile_navigation span {
    margin: 10px 20px;
    cursor: pointer;
    color: var(--textColorLighter);
    padding: 20px 0px;
    font-weight: 300;
}

.profile_navigation span:hover,
.profile_navigation span.active {
    margin: 10px 20px;
    cursor: pointer;
    color: var(--textBlue);
    font-weight: 500;
    border-bottom: 2px solid var(--textBlue);
}


.become_a_teacher {
    padding: 20px;
    background-color: #E8EFFF;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.become_a_teacher__left {
    min-width: 300px;
    max-width: 600px;
    height: 500px;
    flex: 0.5;
}

@media (max-width: 300px) {
    .become_a_teacher__left {
        max-width: 100%;
        min-width: 100%;
    }    
}

.become_a_teacher__right {
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    margin-left: 80px;
    flex: 0.5;
}


.become_a_teacher__right h3 {
    color: #191046;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 44px;
}

.become_a_teacher__right button {
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    color: var(--white);
    background-color: #0C2191;
}

.become_a_teacher__left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}






@media screen and (max-width: 525px) {
    .image {
        min-width: 250px;
        margin-left: 30px;
        max-width: 400px;
    }
}

@media screen and (max-width: 465px) {
    .image {
        min-width: 200px;
        max-width: 350px;
    }
}

@media screen and (max-width: 415px) {
    .image {
        min-width: 150px;
        max-width: 300px;
    }

}

@media screen and (max-width: 355px) {
    .image {
        min-width: 150px;
        max-width: 250px;
    }
}



@media (max-width: 988px) {
    .jumbotron {
        padding-top: .5rem;
        height: min(100vh, 550px);
        width: 100%;
    }
   
    
}
@media (max-width: 768px) {
    .jumbotron {
        height: 100%;
        padding-bottom: 2rem;
        /* height: unset; */

        /* border: 2px solid yellow; */

    }
    .jumbotron__absolute p {
        text-align: center;
    }

    .jumbotron__absolute h3 {
        text-align: center;
    }

    .jumbotron__cover {
        flex-direction: column-reverse;
        padding: .5rem;
        /* border: 2px solid red; */

    }

    

    /* .jumb_container {
        width: 100%;
        min-height: 50vh;
        flex-shrink: 0;
        padding-top: unset;

    } */


 

    .jumbotron__absolute h1 {
        width: 100%;
        /* font-size: 1.9rem; */
        text-align: center;
    }

    .jumbotron__absolute div {
        justify-content: center !important;
    }


    .jumbotron__absolute p {
        margin-bottom: 30px;
    }

}



@media screen and (max-width: 1115px) {
    .image_card {
        width: 100%;
    }

    .become_a_teacher__left {
        flex: 0.6;
    }

    .become_a_teacher__right {
        margin-left: 30px;
        flex: 0.4;
    }

    .become_a_teacher__right h3 {
        font-size: 25px;
    }
    .image_container {
        width: 100%;
    }
    
    .live_class {
        grid-template-columns: 350px 200px 1fr;
        padding-left: 50px;
    }

    .live_class_image_small img {
        height: 100%;
    }
}


@media screen and (max-width: 1265px){
    .image_container {
        width: 90%;
    }
}


@media screen and (max-width: 925px) {
    .become_a_teacher {
        flex-direction: column;
    }

    .become_a_teacher__left {
        margin: 20px auto;
    }

    .become_a_teacher__right {
        margin-left: 0px;
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 560px) {

    .how_it_works_container,
    .frequently_asked_questions_container {
        padding: 10px
    }

    .how_it_works,
    .frequently_asked_questions,
    .best_features {
        padding: 10px;
        padding-top: 40px;
    }

    .best_features {
        margin-bottom: 0px;
    }

    .frequently_asked_questions {
        padding-top: 50px;
    }

    .how_it_works>p,
    .best_features>p,
    .frequently_asked_questions>p,
    .reviews>p {
        width: 80%;
    }
}

@media screen and (max-width: 560px) {
    .best__features_img {
        width: 100%;
        /* height: 500px; */
    }

    .best_features {
        margin-bottom: 0px;
    }

    .rectangle {
        top: calc((100% - 80%) - 100px);
    }

    .rectangle_2 {
        top: calc((100% - 80%) + 100px);
    }
}

@media screen and (max-width: 890px) {
    /* .rectangle_2 {
        top: calc((100% - 60%) + 120px);
    } */
}



/* CHECKLIST */

.checklist {
    background: url(../../images/become_teacher.png), rgba(1, 20, 113, 0.56);
    background-blend-mode:multiply ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.check_form {
    background-color: #fff;
    padding: 2rem 1rem;
    width: min(100% - 2rem, 500px );
    height: 100%;
    overflow-y: scroll;
}

@media (max-width: 767px){
    .checklist {
        justify-content: center;
        padding-block: 2rem;
    }
    .check_form {
        border-radius: 10px;
        padding-bottom: 1rem;
    }
}