.dashboard {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll !important;
    /* background-color: #E5E5E5; */
}

.dashboard_header {
    width: 100%;
    border-radius: 20px;
    background-color: #E5E4F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.dashboard_card {
    display: flex;
    align-items: center;
}

.card_left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.card_right {
    display: flex;
    flex-direction: column;
}

.card_right p {
    margin: 0;
    color: #A098AE;
    font-size: 15.9px;
}

.card_right h4{
    margin: 0;
    color: #303972;
    font-size: 31.8px;
}

.card_left span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_second, .dashboard_third{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chart_card {
    background-color: #fde7e7;
    border-radius: 15px;
    padding: 20px;
    flex: 0.45;
}

.chart_card h3 {
    color: #F75C4E;
    font-weight: 600;
    font-size: 16px;
}

.dashboard_fees {
    background-color: rgba(47, 128, 237, 0.07);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.dashboard_fees h3 {
    font-size: 0.9rem;
}

.dashboard_fees span {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.dashboard_fees h2 {
    color: #262424;
    font-weight: 800;
}

.dashboard_fees p {
    margin: 0;
    color: #262424;
}

.dashboard_categories {
    background-color: rgba(253, 203, 203, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex: 0.4;
    min-width: 250px;
}


.dashboard_categories h3 {
    font-size: 0.9rem;
    color: #F75C4E;
}

.categories {
    list-style-type: none;
    padding: 0;
    line-height: 2;
}

.categories li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.categories li span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50px;
    border-radius: 20px;
    font-weight: 600;
}

.dashboard_courses {
    background-color: rgba(253, 203, 203, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.dashboard_courses h3 {
    font-size: 0.9rem;
    color: #F75C4E;
}

.dashboard_courses h2 {
    font-size: 80px;
    margin: 0;
}

.dashboard_courses p {
    font-weight: 700;
}

.dashboard_fourth {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.fourth_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth_top h3 {
    font-size: 1rem;
    color: #303972
}

.rundowns {
    display: flex;
    align-items: center;
}

.main_chart {
    width: 100%;
    min-height: 200px;
}

.rundown {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.rundown_top {
    font-size: 0.8rem;
    color: #A098AE;
}


.rundown p {
    margin: 0;
    color: #303972;
    font-weight: 700;
    text-indent: 20px;
}

.rundowns select {
    padding: 4px 16px;
    width: 130px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 1rem;
    color: #4D44B5;
    border: 1px solid #4D44B5;
}

.dashboard_fifth {
    background-color: rgba(225, 226, 255, 0.24);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.dashboard_fifth h3 {
    font-size: 1rem;
    color: #303972
}

.communities {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.community {
    width: 100%;
    border-bottom: 1px solid #A098AE;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.community_left {
    display: flex;
    align-items: center;
}

.community_image {
    margin-right: 30px;
}

.community_info h4 {
    color: #303972;
    font-size: 14px;
}

.community_info p {
    margin: 0;
    color: #262424;
    font-size: 14px
}

/* .community_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
} */

.community_right span{
    color: #A098AE;
    font-size: 14px;
}

.community_message__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    color: #333333;
}

.community_message__info svg, .community_message__info h5 {
    font-size: 14px;
}

.community_message__info h5 {
    margin: 0;
    margin-left: 10px;
}

.dashboard_fifth > p {
    margin-top: 20px;
    align-self: flex-end;
    cursor: pointer;
}


@media screen and (max-width: 1165px){
    .dashboard_header {
        padding: 20px;
    }
    
    .card_left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:15px;
    }
}

@media screen and (max-width: 1065px){
    .dashboard_second{
        flex-direction: column;
    }

    .chart_card {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .card_right p {
        font-size: 13px;
    }
    
    .card_right h4{
        font-size: 25px;
    }
    
    .card_left span {
        width: 50px;
        height: 50px;
    }
}


@media screen and (max-width: 995px){
    .dashboard_fees {
        padding: 15px;
    }
    
    .dashboard_fees h3 {
        font-size: 0.8rem;
    }
    
    .dashboard_fees span {
        font-size: 0.8rem;
    }
    
    .dashboard_fees h2 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    .dashboard_fees p {
        margin: 0;
        font-size: 0.8rem;
    }
    
    .dashboard_categories {
        padding: 15px;
        min-width: 250px;
    }
    
    
    .dashboard_categories h3 {
        font-size: 0.8rem;
    }
    
    .categories li {
        font-size: 0.7rem;
    }
    
    .categories li span{
        width: 30px;
    }
    
    .dashboard_courses {
        padding: 15px;
    }
    
    .dashboard_courses h3 {
        font-size: 0.8rem;
    }
    
    .dashboard_courses h2 {
        font-size: 60px;
    }
    
}

@media screen and (max-width: 550px){
    .dashboard_header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .dashboard_card {
        width: 100%;
        margin: 20px auto;
        justify-content: space-between
    }

    .card_right {
        align-items: flex-end;
    }

    .card_right p {
       margin-bottom: 5px;
       font-size: 0.85rem !important;
    }

    .card_right h4 {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 915px){
    .dashboard_third {
        flex-direction: column;
    }

    .dashboard_fees {
        margin-bottom: 20px;
        width: 300px;
        padding: 20px;
    }

    .dashboard_fees h3 {
        font-size: 1rem;
    }

    .dashboard_fees span {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .dashboard_fees h2 {
        color: #262424;
        font-weight: 800;
        font-size: 2rem;
    }

    .dashboard_fees p {
        margin: 0;
        font-size: 1rem;
        color: #262424;
    }

    .dashboard_categories {
        margin-bottom: 20px;
        min-width: 250px;
        width: 350px;
        padding: 20px;
    }


    .dashboard_categories h3 {
        font-size: 1rem;
    }

    .categories li {
        font-size: 0.9rem;
    }

    .categories li span{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 50px;
        border-radius: 20px;
        font-weight: 600;
    }

    .dashboard_courses {
        padding: 20px;
        width: 300px;
    }

    .dashboard_courses h3 {
        font-size: 1rem;
        color: #F75C4E;
    }

    .dashboard_courses h2 {
        font-size: 80px;
        margin: 0;
    }

    .card_left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .card_right p {
        font-size: 10px;
    }

    .card_right h4{
        font-size: 15px;
    }

    .card_left span {
        width: 50px;
        height: 50px;
    }
}