.contentheader {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

.contentnav {
    width: 100%;
    /* border: 2px solid green; */
    display: flex;

}

.contenttitle {
    background: #0C2191;
    padding: 0.5rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    /* border: 2px solid red; */


}



.contenttitle h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
}

.studenttitle {
    /* border: 2px solid red; */
}

.studenttitle h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #0C2191;
    text-transform: capitalize;
    width: 13%;
    /* display: inline; */
    padding: .5rem;
    border-bottom: 3px solid #0C2191;
}

.contentcategory {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between; */
}

.contentcategory a {
    text-transform: capitalize;
    /* padding: 0 15px ; */
}

/* .contentcategory a:active{
    border-bottom: 3px solid #0C2191;;
 } */

.contentActive {
    border-bottom: 3px solid #0C2191;
    ;

}


.contentbreadcrumb {
    /* padding:0 1rem; */
    font-size: 12px;
}

.contentbutton {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.contentbutton button {
    padding: 0.5rem 1rem;
    border: 3px solid #0C2191;
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}


.contentbutton button:nth-of-type(1) {
    color: #0C2191;
}

.contentbutton button:nth-of-type(2) {
    background: #0C2191;
    color: #fff;
}

.contentbody {
    height: 80vh;
    width: 80%;
    /* border: 3px solid red; */
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

}





.contenticon svg,
.contentbutton svg {
    font-size: 2rem;
    color: #0C2191;
}


@media (max-width: 820px) {
    .contentheader {
        gap: 1rem;
    }

    /* .contenttitle {
        width: 50%;
    } */


}

@media (max-width: 280px) {
    .contentheader {
        gap: 1rem;
    }

    .contenttitle {
        width: 60%;
        /* position: fixed; */
    }

    .contentcategory {
        gap: 1rem;
    }


}


/* quiz */

.quiz__contentbody {
    /* height: 80vh; */
    width: 80%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;

}

.quiz__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.content__quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEF5FF;
    padding: 1rem;
    gap: 1rem;
}

.content__quiz label {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.content__quiz input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.content__quiz input,
.content__quiz select {

    background: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    /* border: 1px solid #FFFFFF; */
    /* outline: 1px solid #0C2191; */
    border: none;

}

.accord__header button {
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    color: #0C2191;
}

.content__quiz small {
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
}

.contentquiz__checkbbox {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #0C2191;

}

.contentquiz__checkbbox legend {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

}

.multiplechoice {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid red; */
}

.multiplechoice svg {
    font-size: 2rem;
    color: #000000;
}

.textbtn button {
    background-color: #EEF5FF;
    color: #0C2191;
    padding: 0.5rem 1rem;
    border: 1px solid #0C2191;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin: .5rem 0;
}

.contenquiz__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenquiz__time input {
    width: 40%;
}

.footerbtn {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footerbtn button {
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    border: none;
    width: 50%;
    color: #FFFFFF;

}

.footerbtn button:nth-of-type(1) {
    background: #00A607;
}

.footerbtn button:nth-of-type(2) {
    background: #0C2191;
}


/* quiz preview */

.goback a {
    color: #0C2191;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.preview__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.preview__top {
    padding: 2rem 5rem;
}

.preview__bottom {
    padding: 2rem;
}

.preview__top,
.preview__bottom {
    background: #C2DCFF;
    border-radius: 10px;
    color: #0C2191;


}

.preview__top h4,
.preview__bottom h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

}

.preview__top p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.preview__bottom h4 {
    text-align: center;
}

.preview__accord {
    padding: .3rem 0;
}

.previewaccord__header button {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #0C2191;
}

.previewbtn {
    margin: 2rem 0;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.previewbtn button {
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    border: none;
    width: 50%;
    color: #676768;
    background: #D9D9D9;

}


/* notes */

.note {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 80%;
    border: .2px solid #D1E5FF;
    display: flex;
    gap: 3rem;
    margin-top: .5rem;
    background: #D1E5FF !important;

}

.note .texteditor .ck.ck-editor__main {
    /* min-height: 50vh !important; */
    /* border: 3px solid yellow; */
    /* background: #D1E5FF !important; */
    border: none !important;


}

.note .texteditor .ck.ck-editor__main>.ck-editor__editable {
    background: #D1E5FF !important;

}


.notebtn button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    border: none;
    color: #FFFFFF;
    background-color: #0C2191;

}

.smallnote {
    color: #0C2191;
}

/* student console */

.assessments {
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.assesstmentbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.excelbox {
    width: 400px;
    height: 50vh;
    flex-shrink: 0;
    /* border: 2px solid green; */


}

.excelbox img {
    width: 100%;
    height: 100%;
}

@media (max-width: 764px) {
    .excelbox {
        width: 100%;
        
    
    
    } 
/* 
    .studenttitle h2 {
        
        width: 50%;
      
    } */
}

@media (max-width: 768px) {

    .studenttitle h2 {
        
        width: 30%;
        /* display: inline; */
      
    }
}

@media (max-width: 375px) {

    .studenttitle h2 {
        
        width: 40%;
        /* display: inline; */
      
    }
}
@media (max-width: 280px) {

    .studenttitle h2 {
        
        width: 50%;
        /* display: inline; */
      
    }
}
.questionblue {
    background: #EBF3FF;
    color: #0C2191;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question__type {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.question__number {
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
}

.teacher__review {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .5rem;
}

.assess {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid red; */
    color: #0C2191;

}

.assesstitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
}

.assessbold, .assessinfo {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.assesstop , .assessbottom{
    width: 100%;
    /* border: 2px solid green; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.assessbottom{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.assessbox {
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    background: #F2F8FF;
    border-radius: 5px;
    padding: .5rem 1rem;
}


.assessleft {
    flex: .5;
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */

}

.assessright {
    flex: .5;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 768px) {
    .assess {
        width: 100%;
    }

    .assessbox ,.assessright {
        /* border: 2px solid green; */
        flex-direction: column;
      
    }
}



.assessright button {
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    border: .3px solid #0C2191;
    border-radius: 10px;
    background: #FFFFFF;
    color: #0C2191;

}

.assessinfo{
    align-self: flex-start;
}