.hero {
    margin-top: 1px;
    background: linear-gradient(180.9deg, #191046 18.68%, rgba(16, 51, 70, 0.95) 97.29%);
    padding: 1.5rem 0 2rem 0;
}
@media (min-width: 612px){
    .hero {
        height:min(100vh - 81px, 500px);
        padding: 2.5rem 0;

    }
    
}
@media (min-width: 712px){
    .hero {
        height:min(100vh - 81px, 450px);
        padding: 2.5rem 0;

    }
    
}

.textImage {
    display: flex;
    flex-direction:column-reverse;
    gap: 1.5rem;
}

@media (min-width: 612px){
    .textImage {
        flex-direction:row;
        justify-content: center;
        align-items:center;
        height: 100%;
    }

    .textImage > div {
        flex-basis: 100%;
    }
    .image_section > div {
        display: flex;
        justify-content:flex-end
    }
}
.blob_images {
    position: relative;
    border: 1px solid;
    height: 400px;
    max-width: 100%;
    width: 50%;
}

.blob_images img{
    position: absolute;
    max-width: 100%;
    width: 95%;
    right:0;
}
.blob_first_image {
    right: 10px;
}
.instructional_wrapper{
    padding: 2rem 0;
}

.instructional_header {
    color: var(--theme-blue);
    font-size: clamp(1.7875rem, 1.9196rem + 1.3393vw, 2.625rem);
    text-align:center;
    margin-bottom: 2rem;
}
.instructional_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.instructional_images{
    border: 1px solid;
}
.instructional_images img {
    max-width:100%;
}

@media (min-width: 575px) {
    .instructional_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}


