:root {
    --primary: #f5f5f5;
    --black: rgba(0, 0, 0, 1);
    --white: #fff;
    --obsidian: #070f18;
    --textColorDark: #081131;
    --textColorLight: #5e5b5b;
    --textColorLighter: #9F9F9F;
    --btnColor: rgb(12, 33, 145);
    --accentColor: #023047;
    --textBlue: #0C2191;
    --greenish: #023047;
    --secondary: #2F80ED;
    --gray: #9DA6BA;
    --info: #5A63F7;
    --green: #037615;
    --mobile: 425px;
    --tablet: 768px;
    --laptop: 1024px;
    --letterSpacing: 0.6px;
}


.admin {
    display: flex;
    align-items: center;
    width: 100%;
}


.admin_main {
    height: 100vh;
    flex: 1;
    background-color: var(--primary);
    padding: 30px;
    padding-bottom:1px ;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin_topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.admin_profile_main h1 {
    margin: 10px 0 30px 0px;
    font-size: 1.5rem;
}


.admin_topbar h1 {
    font-size: 1.8rem
}
.admin_profile {
    background-color:var(--white);
    min-height: 82vh;
    padding:20px;
    border-radius: 10px;
    width: 100%;
    overflow-y: scroll;
}

.admin_profile::-webkit-scrollbar {
    width: 8px;
  }
  
  .admin_profile::-webkit-scrollbar-track {
    /* background: #eee;  */
    background: #eee; /* color of the tracking area */
  }
  .admin_profile::-webkit-scrollbar-thumb {
    background-color: #838383; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    /* border: 3px solid orange;  */
  }
.admin_profile_top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.admin_profile_top_img {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}
.admin_profile_top_button {
    background-color:var(--info);
    color: var(--white);
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}
.admin__header {
    font-size: 1.5rem;
    color: var(--textColorDark);
}
.admin__paragraph {
    line-height: 2;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    letter-spacing: 0.6px;
}
.classes_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}
.classes_card_first {
    display: flex;
    align-items: center;
}
.first_avatar {
    padding: 10px 5px;
    margin-right: 20px;
    border-radius: 10px;
    color: var(--white);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_meta {
    display: flex;
    padding-top: "1rem";
    flex-direction: column;
    letter-spacing: 0.6px;
    justify-content: 'center'
}
.classes_card_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    font-size: 1.2rem;
}
.classes_card_third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}
.third_btn {
    border:1px solid var(--info);
    color: var(--secondary);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.7rem;
    background-color: var(--white);
    width: 6rem;
}
.third_btn_live {
    background-color: var(--green);
    color: var(--white);
}


.admin__student_main, .admin__student_table, .admin__student, .user__info_card {
    width: 100%
}

.admin__student h1{
    font-size: clamp(1.15rem, -0.2429rem + 3.7143vw, 1.8rem);
    font-weight: 400;
    margin-bottom: 30px;
}
.admin__student h5{
    font-size: clamp(1.12rem, -0.2429rem + 3.7143vw, 1.25rem);
}


.admin__student_table {
    border: none;
}

.admin__student_table thead {
    height: 70px;
    text-align: center;
    font-weight: bold;
}

.edit__profile {
    width: 80%
}

.edit__profile form div {
    margin: 15px 0px;
}

.edit__profile form div label {
    color: rgba(103, 131, 145, 1);
    margin: 5px;
    font-size: 0.9rem;
}

.edit__profile form div input {
    border: 1px solid rgba(208, 204, 204, 0.5);;
    background-color: var(--primary);
}

.admin__student_table tbody{
    width: 100%;
    border: none;
}

.user__info_card{
   height: 90px;
   cursor: pointer;
   border-radius: 10px;
}

.user__info_card td{
   height: 90px;
   letter-spacing: var(--letterSpacing);
   text-align: start
}

.user__info_card:hover {
    background-color: rgba(230,230,230,0.3);
}

.form_group__teachers {
    width: 100%;
    padding-top: 10px;
}

.form_group__teachers label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form_group__teachers > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form_group__teachers > div p {
    font-weight: bold;
    margin: 0px;
}
.teachers__actions_delete {
    margin-right: 15px;
    cursor: pointer;
}

.teachers__actions_edit {
    margin-left: 15px;
    cursor: pointer;
    color: var(--textColorLight);
}

.form_group__button {
    width: 40%;
    margin-top: 10px;
    background-color: var(--info);
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    color: var(--white);
}

.upload__file_box {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--textColorLighter);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.upload__file_box:hover {
    background-color:rgba(208, 204, 204, 0.2)
}

.upload__file_box p {
    margin: 0px;
    margin-top: 15px;
    color: var(--secondary);
}
.form_button__container {
    margin-top: 30px;
}


.form_button__container button {
    padding: 10px 40px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 0.9rem;
}


.teachers__actions_edit svg, .teachers__actions_delete svg {
    font-size: 1.5rem;
}

.user__details {
    display: flex;
}

.user__details span {
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 400;
    font-size: clamp(0.8rem, -0.2429rem + 3.7143vw, 1rem)
}

.user__details img {
    width: 60px;
    height: 60px;
    border-radius: var(--borderRadius);
    align-self: center;
}


@media screen and (max-width: 390px){
    .admin_profile_top {
        align-items: flex-start;
        justify-content: between;
    }

    .admin_profile_top span {
        display: none;
    }
    .admin_profile_top_button {
        display: grid;
        place-items:center; 
    }

    .admin_profile_top_button svg {
        margin-right: unset !important;
    }
}
@media screen and (max-width: 767px){
    .admin_topbar {
        width: 100%;
        
    }
    

    .admin_main {
        
        padding: 12px;
       
    }

}

.admin__profile_info {
    margin: 30px 0px;
    width: 100%;
}

.admin__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0px;
    letter-spacing: 0.4px;
}

.admin__info_title {
    color: var(--textColorLighter);
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.admin__info_content {
    font-size: clamp(0.8rem, -0.2429rem + 3.7143vw, 1.15rem);
}



.admin__student + button {
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.6rem;
    background-color: var(--textBlue);
    color: var(--white);
    font-size: 1.2rem;
    /* margin-bottom: 40px; */
    margin: 40px
}
.admin__student > button {
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.6rem;
    background-color: var(--textBlue);
    color: var(--white);
    font-size: 0.8rem;
    margin-bottom: 40px;
}






.catergory__interface {
    background-color: transparent;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: none !important;
    margin-top: 30px;
}

.catergory__interface h5 {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.4px;
}


.catergory__interface p {
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    color: var(--textColorLight)
}


.category__image {
    min-width: 250px;
    min-height: 200px;
    margin-bottom: 30px;
}

.category__image img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
 
.category_more__info {
    width: 100%;
}

.category_more__info button {
    padding: 0.6rem 1.2rem;
    background-color: rgba(100, 149, 237, .2);
    border: none;
    outline: none;
    font-size: 0.7rem;
    color: #000
}

.form_group textarea{
    outline: none;
    border: 1px solid rgba(208, 204, 204, 0.5);
    padding: 4px;
    border-radius: 5px;
    text-indent: 40px;
    background-color: var(--primary);
}


.form_group {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_group label {
    margin-bottom: 10px;
    color: rgba(103, 131, 145, 1);
    font-size: 0.9rem;
}

.form_group select {
    outline: none;
    padding: 12px;
    border: 1px solid rgba(208, 204, 204, 0.5);
    border-radius: 5px;
    text-indent: 40px;
    background-color: var(--primary);
}

.form_group textarea{
    outline: none;
    border: 1px solid rgba(208, 204, 204, 0.5);
    padding: 4px;
    border-radius: 5px;
    text-indent: 40px;
    background-color: var(--primary);
}

.admin__student form > div {
    margin: 20px 0px;
}

.admin__student form div label {
    color: rgba(103, 131, 145, 1);
    margin: 5px;
}

.admin__student form div input {
    border: 1px solid rgba(208, 204, 204, 0.5);;
    background-color: var(--primary);
}

.admin__student form i {
    font-size: 0.6rem;
}

.admin__notification_button {
    border: 0.5px solid;
    background: #fff;
    color:var(--theme-orange);
    padding: 4px;
    transition: all .53s ease;
    font-size:11px;
}

.admin__notification_button:hover{
    background:var(--theme-orange);
    color:#fff;

}
.addniche_button, .addcareer_button {
    font-size: 0.8rem;
    background-color:rgba(208, 204, 204, 0.5);

}


.syllabus_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgba(100, 149, 237, .2);
}

.syllabus_container h5 {
    font-size: 0.9rem;
}

.syllabus_container p {
    font-size: 0.7rem;
    letter-spacing: 0.4px;
    color: var(--textColorLight);
}


.notification {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    border-radius: 10px;
    transition:all .5s ease;
    padding: 18px 8px;
    outline-color:#DFE0EB;
    cursor:pointer;

}   
.notification:hover {
    outline: 1.5px solid #DFE0EB;

}
.notification span{
    flex: 0.5;
    /* background:blue; */
}
.notification span:nth-child(2){
    flex: 2;
    /* background:red; */
}

@media screen and (max-width:580px){
    .notification {
        flex-direction:column-reverse;
        align-items: flex-start;

    } 
    .admin_student button {
        padding: 5px !important;
    }
}
@media screen and (min-width:997px){
    .notification {
        padding: 26.67px 43px 19px 43px;
    }
}