@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Raleway:wght@600;700;800&family=Inter:wght@300;400;700;800;900&display=swap');

:root {
  --primary: #f5f5f5;
  --black: rgba(0, 0, 0, 1);
  --theme-orange: #F75C4E;
  --theme-blue: #0C2191;

  --white: #fff;
  --obsidian: #000;
  --text-color-dark: #000;
  --text-color-light: #000;
  --text-color-lighter: #000;
  --btn-color: rgb(12, 33, 145);
  --accent-color: #023047;
  --text-blue: rgb(12, 33, 145);
  --greenish: #023047;
  --secondary: #2F80ED;
  --gray: #9DA6BA;
  --info: #5A63F7;
  --green: #037615;
  --lime: #F1F8FF;
  --primary-dark: #023047;
  --dashboard-blue: #E5E4F8;
  --dashboard-pink: #FFF5F5;
  --blue-ish: rgba(236, 239, 255, 0.99);
}

/* override bootstrap */

@media (min-width: 770px) and (max-width: 991px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 92%;
    height: 100%;
    margin: auto;
  }
}

@media (max-width: 769px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 991px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1250px !important;
    height: 100%;
  }
}

@media (min-width: 1500px) {

  .container-xxxl,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 80% !important;
    height: 100%;
  }
}

@media (min-width: 1700px) {

  .container-xxxl,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 70% !important;
    height: 100%;
  }
}

.faq {
  /* margin: 9.375rem 0 7.0625rem 0; */
  margin: 4.375rem 0 1.0625rem 0;
}

.students .faq {
  margin: 0;
  background: #ffffff;
  padding: 2rem 0;

}

.faq .faq_wrapper {
  width: 80%;
}

.faq .title {
  margin-bottom: 3.3rem;
  color: var(--theme-blue) !important;
}

.faq .faq_acc button {
  font-weight: 500;
  font-size: clamp(15px, 2.5vw, 19px);
  line-height: 38px;
  background-color: var(--btn-color) !important;
  color: white;
  border-radius: 10px !important;
  padding: 14px 40px !important;
}

.faq .faq_acc_text {
  font-weight: 400;
  font-size: clamp(14px, 15px, 17px);
  line-height: 38px;
  width: 70%;
}

.faq .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../svg/caret.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.faq-comp {
  position: relative;
  padding-left: 4rem !important;
  margin: 1rem 0;
  margin-bottom: 2.5rem;
}

.faq-comp::before {
  content: "";
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: url(../svg/target.png);
  background-repeat: no-repeat;
  background-size: 2.75rem;
  position: absolute;
  top: 0;
  left: 10px;
}

.faq-comp:not(.skip)::after {
  content: "";
  width: 0.15rem;
  height: 100%;
  /* border-radius: 50%; */
  background: rgba(41, 45, 50, 0.71);
  background-repeat: no-repeat;
  background-size: 2.75rem;
  position: absolute;
  top: 3.05rem;
  left: 30px;
  /* transform: translate(-50%); */
}

@media (max-width: 767px) {

  .faq-comp.skip::after {
    content: "";
    width: 0.15rem;
    height: 100%;
    /* border-radius: 50%; */
    background: rgba(41, 45, 50, 0.71);
    background-repeat: no-repeat;
    background-size: 2.75rem;
    position: absolute;
    top: 3.05rem;
    left: 30px;
    /* transform: translate(-50%); */
  }

  .faq-wrapper>.row>.col-md-6:last-child .faq-comp:last-child::after {
    display: none;
  }
}

.faq .accordion-button:not(.collapsed)::after {
  background-image: url(../svg/caret.svg);
  transform: rotate(-180deg);
}

.faq .accordion-button:not(.collapsed) {
  color: #fff;
}

/* ***************FOOTER***************************** */

.join {
  background-color: rgba(12, 32, 145, 0.926);
  color: white;
  padding: 5rem 0;
}

.join_button_wrapper {
  gap: 1rem;
}

.join_button_wrapper h3 {
  font-size: clamp(20px, 24px, 30px);
}



.footer {
  margin-bottom: 0;
  background-color: var(--btn-color);
  color: #fff;
  padding: 45px 0;
}

/* .footer_container{
  align-items:end;
} */
/* .footer .footer_left,
.footer .footer_right {
  flex: 50%;
}
.footer .footer_left {
  display: grid;
  place-items: center;
} */

.footer .footer_left,
.footer .footer_right {
  flex: 50%;
}

.footer .footer_left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .footer .footer_left {
  display: grid;
  place-items: center;
} */

.footer_right{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_right p{
  padding: .5rem 0;
}


.footer a {
  color: var(--theme-blue);
}

.footer p {
  margin-bottom: 0;
  font-size: 1rem;
}

.footer .footer_title {
  font-weight: 600;
  font-size: 18px;

}

.footer .footer_text {
  display: block;
  font-size: 14px;


}

.footer ul {
  margin: 0;
  padding: 0;
}


.footer .footer_top {
  margin-bottom: 20px;
}

.footer a li,
.footer ul div li {
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* .footer li a:hover {
  color: var(--btn-color);
  font-weight: 600;
} */
.footer li {
  list-style-type: none;
}

.footer .second li a {
  display: flex;
  align-items: center;
  /* justify-content: center;  */
  gap: 1.0625em;
}

.footer ul:first-child {
  font-size: 1.5rem;
}

.footer .box {
  width: min(100% - 1rem, 700px);
  margin: auto;
}

.end {
  min-height: 80px;
  background: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.end .box {
  /* width: min(100% - 1rem, 80%); */
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.end_right {
  gap: .5rem;
}

.end_right a {
  color: #fff;
}

.end_left span {
  margin-right: .3rem;
}

.end .box span {
  font-size: 12px;
  line-height: 45px;
}








@media screen and (max-width: 777px) {
  
  .footer_container {
    align-items: unset;
    flex-direction: column;
    justify-content: center !important;
  }

  .footer .footer_text {
    text-align: center;
  }

  .footer .footer_left {
    padding-right: 0;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
  }

  .footer_left,
  .footer_right {
    flex: 100% !important;

  }


  .footer_title {
    text-align: center;
  }

  .footer_left {
    padding-right: 0;
  }

  .footer li {
    list-style-type: none;
  }

  
}


@media screen and (max-width: 995px) {
  

  .faq {
    margin: 3.375rem 0;
  }

  .faq_wrapper {
    width: 80%;
  }

  .faq .faq_acc button {
    line-height: 28px;
    padding: 16px !important;
  }

  .faq .faq_acc_text {
    font-weight: 400;
    line-height: 30px;
    width: 100%;
  }

  .faq .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../svg/caret.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(../svg/caret.svg);
    transform: rotate(-180deg);
  }

  .accordion-button:not(.collapsed) {
    color: #fff;
  }



  .log_left,
  .log_right {
    flex: 50%;
  }

  .log_left img {
    height: 100%;
    max-width: 100%;
  }

  .log_right {
    padding: 0 2.4rem;
  }

  .log_navigate {
    margin-bottom: 1.075rem;
  }

  .log_navigate span {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-right: 0.5em;
  }

  .log_title {
    font-weight: 400;
    color: rgba(2, 48, 71, 1);
  }
}







