.newHero {
  /* background: var(--blue-ish); */
  background: #fff;
  height: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  /* margin-bottom:2rem; */
  padding-top: 1.2rem;
  /* z-index: -1; */
}
.or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--theme-blue);
  line-height: 0.1em;
  margin: 10px 0 10px;
}

.or span {
  background: var(--blue-ish);
  color: var(--theme-blue);
  padding: 0 10px;
}
.social_signIn_wrapper .or span {
  color: var(--theme-blue);
  background: #fff;
}
.newHero_left header {
  color: var(--theme-blue);
  width: 100%;
  margin-bottom: 2rem !important;
}
.newHero_left-userSignin {
  width: 100%;
  margin-bottom: 2rem;
  /* z-index: 2; */
}

.newHero_left-userSignin button,
.newHero_left-userSignin a p {
  cursor: pointer;
}
.newHero_left-userSignin a {
  color: #fff;
}
.newHero_left header h1 {
  margin-bottom: 0;
  font-weight: 900;
  font-size: clamp(2.8125rem, 2.25rem + 1.8vw, 3.0375rem);
}
.newHero_left h6 {
  font-size: 16px;
  font-weight: 500;
}
.newHero_left-title {
  width: 100%;
  /* margin-inline: auto;
  margin-left: auto;
  margin-right: auto; */
  font-weight: 500;
}

.newHero_left {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 100%;
  align-items: center;
}

.newHero_right {
  /* height:350px; */
  margin-bottom: 0.5rem;
}

.newHero_right img {
  max-width: 100%;
  /* width: 100%; */
}
@media (max-width: 700px) {
  .newHero_right img {
    max-height: 380px;
  }  
}

.newHero_right.newHero_right_single {
  display: flex;
  justify-content: center;
}
.newHero_right.newHero_right_single img {
  width: auto;
}

.newHero .newHero_left-userSignin button,
.social_signIn_wrapper button {
  font-size: 14px;
  font-weight: 700;
  border: 0.5px solid var(--theme-blue);
  padding: 12px;
  border-radius: 10px;
  line-height: 28.24px;
  outline: none;
  color: black;
  background: #ffffff;
  width: 75%;
  /* margin-left: auto;
  margin-right: auto; */
}
.social_signIn_wrapper button {
  width: 100%;
}
.newHero small,
.newHero a {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: var(--theme-blue);
  font-weight: 700;
}

.newHero_left small,
.newHero_left p:last-child {
  text-align: center; 
}

.newHero_left__button button {
  background: var(--theme-blue);
  color: #fff;
  padding: 8px 24px;
  border: none;
}

.sign_up_cards {
  margin-bottom: 2rem;
}
.sign_up_card:first-child {
  margin-right: 42px;
  background-color: #A1B0FF;
  color: var(--theme-blue);


}

.sign_up_card {
  padding: 1rem clamp(0.4rem, 0.2286rem + 0.8571vw, 1rem);
  background: #FFDBD8;
  color: var(--theme-orange);
  border-radius: 8px;
  position: relative;
}

.sign_up_card::after {
  position: absolute;
    content: "";
    background-image: url(../../images/student_plug.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    height: 18px;
    right: -40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.sign_up_card:last-child::after {
  position: absolute;
    content: "";
    background-image: url(../../images/teacher_plug.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    height: 18px;
    left: -20px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.sign_up_card h5 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem); 
}


.sign_up_card:last-child button, .sign_up_card:last-child h5 { 
  color: var(--theme-orange);
 }

.sign_up_card button {  
  color: var(--theme-blue);
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 8px clamp(0.375rem, 0.2679rem + 0.5357vw, 0.55rem);
  font-weight: 500;
  font-size: 13px;
  box-shadow: -5.5872px 94.9824px 38.1792px rgba(0, 0, 0, 0.01), -3.7248px 54.0096px 32.592px rgba(0, 0, 0, 0.05), -1.8624px 24.2112px 24.2112px rgba(0, 0, 0, 0.09), 0px 5.5872px 13.0368px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px){
.sign_up_cards, .new_hero_list, .newHero_left-title {
  justify-content: center !important;
}

.newHero_left-header, .newHero_left-title {
  text-align: center;
}

}

@media (min-width: 410px) {
  .sign_up_card button {  
    width: 160px;
  
  }
}
@media (min-width: 700px) {
  .newHero {
    height: 100%;
  }
  .newHero > div {
    display: flex;
    /* flex-direction:row-reverse; */
  }
  .newHero_left {
    margin-top: 2rem;
    width: 50%;
  }
  .newHero_right {
    position: absolute;
    display: block;
    height: min(100vh, 600px);
    bottom: -50%;
    right: 0;
    top: 0;
    width: 60%;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .newHero_right img {
    max-width: 100%;
    /* width: 100%; */
    height: 100%;
  }
  .newHero .newHero_left-userSignin button {
    width: 90%;
  }


}
/* @media (min-wdth: 768px) {
  .newHero {
    height: min(calc(100vh - 81px), 650px);
  }
} */
@media (min-width: 1024px) {
  .newHero .newHero_left-userSignin button {
    width: 85%;
  }
  .newHero_left header {
    padding-right: 1rem;
  }
}
@media (min-width: 1120px) {
  .newHero_left header {
    padding-right: unset;
  }
}
@media (min-width: 1197px) {
  .newHero .newHero_left-userSignin button {
    width: 60%;
  }
  .newHero_right img {
    max-width: 100%;
    /* width: 100%; */
    margin-inline:auto ;
  }
  .newHero_right.newHero_right_single img {
    height: 100%;
  }
  
}

@media (min-width: 1300px) {
  .newHero_right img {
    height: 87%;
  }
  .newHero_right.newHero_right_single img {
    height: 100%;
  }
}
@media (min-width: 1700px) {
  .newHero_right img {
    height: 90%;
    object-fit: contain;
  }
  .newHero_right.newHero_right_single img {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .newBootcamp,
  .newHero {
    height: 100% !important;
    /* margin-bottom: 2rem; */
  }
  .newHero_left-userSignin {
    width: 100%;
  }
  .newHero .newHero_left-userSignin button,
  .social_signIn_wrapper button {
    width: 100%;
    padding: 12px 18px;
  }
}

@media (min-width: 591px) and (max-width: 870px) {
  .social_signIn_wrapper button {
    width: 100%;
    padding: 8px;
  }
}
@media screen and (min-width: 1140px) {
  .newHero {
    height: min(calc(100vh - 81px), 500px);
  }
}
@media screen and (min-width: 1440px) {
  .newHero {
    height: min(calc(100vh - 81px), 500px);
  }
  .newHero_right {
    right: 0;
    /* bottom: 0; */
    /* height:min(100vh, 930px); */
  }
  .newHero_right img {
    max-width: 100%;
    /* width: 100%; */
    height: 100%;
  }
  .newHero_left header h1 {
    /* margin-bottom: 2rem; */
    font-weight: 900;
    /* font-size: 65px; */
  }
  .newHero_left h6 {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .newHero_right img {
    object-fit: contain;
    object-position: left;
  }
}

.stats_main {
  background: rgba(255, 242, 241, 0.79);
  width: 100%;
  margin-block: 2rem;
}

.stats {
  width: min(100% - .2rem, 800px);
  margin: auto;
  margin-top: 0;
  padding: .6rem;
  min-height: 120px;
  background: rgba(255, 242, 241, 0.79);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.stats_wrapper > div {
  flex-basis: 50%;
}
.stat {
  text-align: center;
  color: var(--theme-blue);
}
.stat h5 {
  font-weight: 700;
  margin-bottom: 0;
}
.stat small {
  font-size: 10px;
  width: 80%;
  margin: auto;
  display: block;
}
@media (max-width: 768px) {

  .stats {
    min-height: 100%;
    height: 100%;
  }

  .stats_wrapper {
    flex-wrap:wrap;
    justify-content:flex-start;
  }
  
  .stats_wrapper > div {
    flex-basis: 33%;
    margin-bottom: 1rem;
  }

  .stat h5 {
    /* font-weight: 700; */
    font-size: 1rem;
    margin-bottom: 0;
  }
  .stat small {
    font-size: 10px;
    /* width: 80%;
    margin: auto;
    display: block; */
    
  }
}
@media (max-width: 450px) {

  .stats_wrapper {
   /* display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr); 
   justify-content: center;
   height: 100%; */

  }
}


/* CATEGORIES */
.newCategories_header_wrapper {
  margin-bottom: 1rem;
}
.newCategories_header {
  color: #464646;
  text-align: start;
  font-weight: 700;
  font-size: clamp(1.4rem, -0.875rem + 8.333vw, 1.95rem);
  margin-bottom: 1rem;
}
.newCategories .MuiTabs-scroller button:hover {
  background: var(--theme-blue);
  color: #fff !important;
}
.newCategories .swiper-wrapper {
  margin-bottom: 1rem !important;
}

.newCategories_card_wrapper, .newCategories_card {
  border-radius: 15px;
}
.newCategories_card {
  box-shadow: 0px 15px 13px 0px #eee;
  height: 100%;
  max-width: 240px;
}

.newCategories_card-body {
  background: #ffffff;
  height: 70px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.newCategories_card-body h6,
.newCategories_card-body p {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.newCategories_image {
  height: 140px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.benefit_box-top {
  border-left: 6px solid;
  padding-block: 4px;
  padding-top: auto;
  padding-bottom: auto;
}
.benefit_box-top h6 {
  font-weight: 700;
  color: #5f5f5f;
}
.benefit_box-bottom {
  border-left: 6px solid white;
}
.benefit_box-bottom h6 {
  color: #5f5f5f;
}
.benefit_box .benefit_box-bottom p {
  margin-block: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  font-size: 14px;
  color: #9f9f9f;
}

.benefits_button {
  color: #fff !important;
  padding: 10px 12px !important;
  background-color: var(--theme-blue) !important;
  border: none;
}
.newBootcamp {
  min-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-block: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  display: grid;
  place-items: center;
}
.new_bootcamp_card {
  /* border: 1px solid yellow; */
  background-color: #fff;
  color: var(--theme-blue);
  padding: 1rem;
  display: flex;
  gap: 0.6rem;
}
.classes_title {
  color: var(--theme-blue);
}
.newBootcamp_img img {
  width: 70px;
  height: 70px;
}
.newBootcampClasses_content {
  flex: 2;
}
.newBootcampClasses_content .time {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.newBootcampClasses_content button {
  padding: 8px 12px !important;
  color: var(--theme-blue);
  border-color: var(--theme-blue) !important;
  border-radius: 0 !important;
}
.new_bootcamp_card_button {
  background: #fff;
}
.newBootcampClasses_content h6,
.newBootcampClasses_content p {
  font-weight: 700;
}
.newBootcampClasses_content p {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .newBootcamp {
    height: 100% !important;
    margin-bottom: 2rem;
  }
}

.newBootcamp_content {
  display: flex;
  /* border: 1px solid tomato; */
}
.newBootcamp_content .others {
  flex: 65%;
  /* border: 1px solid green; */
}
.classes {
  flex: 35%;
}
.newBootcamp_classes_button {
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 18px;
  background: var(--theme-orange);
}

@media (max-width: 1024px) {
  .classes {
    flex: 50%;
  }
}
@media (max-width: 715px) {
  .classes {
    flex: 70%;
  }
  .newBootcamp_content .others {
    flex: 30%;
  }
}
@media (max-width: 420px) {
  .others {
    display: none;
  }
  .classes {
    flex: 100%;
  }
}
.newBootcamp header h6 {
  font-weight: bolder;
}
.newBootcamp_title {
  width: 65%;
}
.newBootcamp_title p {
  font-size: 1rem;
  line-height: 30.06px;
}

.newBootcamp_title p:first-child {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 1.3rem;
  line-height: 48.06px;
}
.newBootcamp_timing {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 0.5rem;
}
.newBootcamp_button {
  border: none;
  outline: none;
  background: #fff;
  color: var(--theme-blue);
  padding: 10px 3rem;
  font-weight: 700;
  border-radius: 8px;
}
.newBootcamp_duration,
.newBootcamp_start {
  gap: 0.5rem;
}

@media (max-width: 975px) {
  .newBootcamp_title {
    width: 100%;
  }
}





/* LEARNING */
.newLearning button a,
.newMentor button a {
  color: inherit;
}
.newLearning header,
.newMentors h3,
.newMentor header {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  line-height: 44px;
}

.newLearning header::after,
.newMentor header::after,
.newMentors h3::after {
  content: "";
  width: 150px;
  height: 10px;
  background: var(--theme-orange);
  position: absolute;
  bottom: -10px;
}
.newMentors header {
  margin-bottom: 2rem;
}
.newMentors header p {
  width: 60%;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

.newMentors h3::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
/* LEARNING */

.newLearning {
  padding: 1rem 0;
}
.newLearning header h2 {
  font-size: clamp(2.0875rem, 2.0054rem + 0.4107vw, 2.375rem);
  color: var(--theme-blue) !important;
}
.newLearning .content {
  display: flex;
  flex-direction: column-reverse;
}

.newLearning_right .background img {
  object-position: top;
  border-radius: 10px;
}
/* .newLearning-text {
    line-height:38px;
} */
.newLearning .newLearning_button {
  border: 1px solid var(--theme-blue);
  color: var(--theme-blue);
  font-weight: 700;
  border-radius: 4px;
}
@media (max-width: 660px) {
  .newLearning_right .background img,
  .transition .background img,
  .becoming .background img {
    height: 100%;
  }
  .inPerson .background img {
    max-height: 350px;
    object-fit: cover;
    object-position: top;
  }
}

@media (max-width: 777px) {
  .newLearning header,
  .newMentors h3 {
    width: 100%;
  }
  .newLearning header {
    margin-top: 2rem;
  }
  .background img {
    width: 100%;
  }
}

@media (min-width: 650px) {
  .newLearning {
    margin: 2rem 0;
  }
  .newLearning .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .newLearning_left {
    flex: 1;
  }

  .newLearning_right {
    flex: 1;
    align-self: center;
  }
  .newLearning_right .background img {
    height: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .newLearning_right {
    flex: 1;
    align-self: unset;
  }
}

/* SELF */
.newSelf {
  margin: 1.5rem 0;
}
.newSelf .content {
  flex-direction: column;
}
.newSelf_left,
.newSelf_right {
  flex: 1;
}

@media (min-width: 650px) {
  .newSelf .content {
    flex-direction: row;
  }
  .newSelf_right {
    flex: 1;
    align-self: center;
  }
  .newSelf .background img {
    height: 100%;
    max-width: 100%;
  }

  .newSelf_left-wrapper {
    width: 85%;
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .newSelf_right {
    align-self: unset;
  }
  .newSelf_right .background img {
    height: 100%;
    max-height: 350px;
  }
}
/* NEW MENTOR */
.newMentor {
  padding: 1rem 0;
}

.newMentor header h2 {
  font-size: clamp(2.0875rem, 2.0054rem + 0.4107vw, 2.375rem);
  color: var(--theme-blue) !important;
}

@media (max-width: 500px) {
  .newMentor header {
    position: relative;
    margin: 1rem 0;
    width: 100%;
    line-height: 44px;
  }
}
.newMentor .content {
  display: flex;
  flex-direction: column-reverse;
}
.newMentor_right .background {
  display: flex;
  justify-content: center;
}
.newMentor_right .background img {
  max-height: 350px;
  object-position: top;
  border-radius: 10px;
  object-fit: cover;
}
/* .newLearning-text {
    line-height:38px;
} */
.newMentor .newMentor_button {
  border: 1px solid var(--theme-blue);
  color: var(--theme-blue);
  font-weight: 700;
  border-radius: 4px;
}
@media (min-width: 650px) {
  .newMentor .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .newMentor_left {
    flex: 1;
  }

  .newMentor_right {
    flex: 1;
    align-self: center;
  }
  .newMentor_right .background img {
    max-height: 350px;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .newLearning_right {
    flex: 1;
    align-self: unset;
  }
}

/* MENTORS */
.newMentors {
  background:   url(../../images/laMentors2.png), rgba(1, 20, 113, 0.56);
  background-blend-mode:multiply ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-block: 1.8625rem;
  background-position-x:right;
 
}
.newMentors .backgroundy_img {
  max-width: 100%;
  height: 100%;
}
.newMentors_content {
  /* position: absolute; */
  /* height: 90%; */
  margin: auto;
  padding-top:2rem;
  inset: 0;
  
}
.newMentors_content .sub_title {
  width: min(100% - .6rem, 980px);
  margin: auto;
}
/* @media screen and (max-width: 1024px) {
  .newMentors .backgroundy_img {
    left: 50%;
    margin-left: -512px;   
  }
} */
.newMentors header {
  color: #fff;
}
.newMentors h3 {
  text-align: center;
  color: #fff !important;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 55%;
  font-weight: 800;
}
.newMentors_content_mid {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-block: 1rem;
  gap: 2rem;
  color: #fff;
}
.newMentors_content_mid > div {
  flex-basis:100%;
}
.newMentors_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newMentors_text h4 {
  font-size: min(29px, 34px);
  text-align: center;
  font-weight: bolder;
  
}
.newMentors_vid img {
  max-width: 100%;
  max-height: 100%;
  height: 250px;
}
.newMentors_vid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:712px) {
  .newMentors_content_mid {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    height: 32vh;
    color: #fff;
  }
}
/* @media (min-width: 800px){
  .newMentors {
    min-height: 70vh;
  }
  
} */
.newMentors {
  transition: all 0.3s ease;
  height: 100%;
}
.newMentors .card {
  height: 100%;
  transition: all 0.3s ease;
}

.newMentors .mentors_footnote {
  display: none;
  transition: all 0.3s ease;
}

.newMentors .card-body {
  background: rgba(255, 255, 255, 0.49);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 130px;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.newMentors .card:hover .newMentors_card-body {
  /* display: none; */
  height: 200px;
}
.newMentors .card:hover .mentors_footnote {
  display: block;
  transition: all 0.3s ease;
}
/* .newMentors .card img{
    height:270px;
    object-position:top;
    object-fit:cover;
} */
.newMentors .card {
  height: 100%;
}

@media screen and (max-width: 575px) {
  .newMentors h3 {
    width: 75%;
  }
}

.newMentors_content_bottom {
  padding: .5rem 0 1rem 0;
  /* background-color:rgba(167, 167, 167, 0.436) ; */
}
.newMentors_content_bottom_cards {
  background-color: #fff;
  background-color:#D9D9D9;

  padding: 1rem;
  border-radius: 6px;
}
.newMentors_content_bottom_cards small {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.bottom_card {
  gap: .6rem;
}


.bottom_title {
  /* color: var(--theme-blue); */
  color: #FFF;
}

.newMentors_content_bottom_card {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(100%, 800px);
  margin:auto;
}



.newLogin {
  border: 2px solid #fff !important;
  color: #fff;
  background: var(--theme-blue);
  font-size: 14px;
  padding: 0.725rem 2.5rem !important;
}
.newRegister {
  color: var(--theme-blue) !important;
  background: #fff;
  font-size: 15px;
  padding: 0.725rem .9rem !important;
}

@media (max-width: 575px) {
  .newBootcamp_timing {
    flex-wrap: wrap;
    justify-content: center;
    gap: unset;
  }
  .newBootcamp_title {
    text-align: center;
  }
  .newBootcamp_timing > div {
    flex: 50%;
  }
}
@media (max-width: 1200px) {
  .newCategories_image {
    object-position: top;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .newCategories_image {
    height: 120px;
    width: 100%;
    /* object-position: ; */
    object-fit: cover;
  }
  .newCategories_card-body {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newCategories_card-body h6 {
    font-size: 10px !important;
  }
}

.overview {
    background: #E5E5E5;
    padding: 3rem 0;
}
.overview_header {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 0;
}
.overview_header span:first-child {
  font-size: 28px;
  color: var(--theme-blue);
  font-weight: bolder;
}
.overview_header span:last-child {
  background: var(--theme-blue);
  color: #fff;
  padding: 8px 24px;
  border-radius: 8px;
}
.overview_card {
  width: min(100% - 0.3rem, 300px);
}
.overview_card_body {
  padding: 1rem;
  margin-top: 0.8rem;
  box-shadow: 0px 235px 94px rgba(0, 0, 0, 0.01),
    0px 132px 79px rgba(0, 0, 0, 0.05), 0px 59px 59px rgba(0, 0, 0, 0.09),
    0px 15px 32px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.overview header {
    margin-bottom: 3rem;
}
.overview header h4 {
    width: min(100% - 1rem, 650px);
    margin: auto;
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 19px;

}
.overview_main {
  display: flex;
  gap: 1.6rem;
  width: min(100% - 0.5rem, 900px);
  margin: auto;
}
.overview_left,
.overview_right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.overview_left {
  align-items: flex-end;
}
.overview_icon_wrapper {
  display: flex;
  justify-content: space-around;
}
.overview_icon_wrapper img {
  max-width: 100px;
}
.connected_line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.connected_line span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--theme-blue);
  position: relative;
}
.connected_line span:not(:last-child)::after {
  width: 10px;
  background: var(--theme-blue);
  bottom: 0;
  content: "";
  height: 1100%;
  background-repeat: no-repeat;
  background-size: 2.75rem;
  position: absolute;
  top: 10px;
  left: 35%;
}
.hideOnLargeScreens {
    display: none;
}

@media screen and (max-width: 638px) {
  .connected_line span:not(:last-child)::after {
    height: 1200%;
  }
}
@media screen and (max-width: 594px) {
  .connected_line span:not(:last-child)::after {
    height: 1330%;
  }
}
@media screen and (max-width: 556px) {
  .connected_line span:not(:last-child)::after {
    height: 1530%;
  }
}
@media screen and (max-width: 490px) {
.hideOnLargeScreens{
    display: block;
}
  .overview_icon_wrapper,
  .connected_line,
  .overview_right {
    display: none;
  }
  .overview_left {
    align-items: center;
  }
  .overview_card {
    width: min(100% - 0.3rem, 350px);
  }
}


/* betterway */
.betterway{
    /* background-color: #ECEFFF; */
    padding: 3rem 0;
}
.betterway header {
    text-align: center;
    color: var(--theme-blue);
    margin-bottom: 4rem;
}
.betterway header h4 {
    font-weight: 700;
}
.betterway header p {
    width: min(100% - 0.5rem, 600px);
    margin: auto;
    text-align: center;;
}


.stay {
  display: flex;
  margin: auto;
  gap: 2rem;
  
}
.teach_benefit .stay {
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.stay > div {
    flex-basis: 100%;
}
.stay_right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stay_right.anyright {
  justify-content: center;
  gap: 1.5rem;
}

.stay_left {
    /* background: url(../../images/stay_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    height: 500px; */
    display: flex;
    justify-content: center;
    /* background-size: 65%; */

}
.stay_left.anywhere {
  background: url(../../images/stay_bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  /* height: 500px; */
  background-size: 68%;
  padding-top: 1rem;

}

.stay_right.anyright h6{
  color: var(--theme-blue);
  font-weight: 700;
  font-size: clamp(1.8rem, 2.2643rem + -2.3214vw, 2.175rem);
}

.stay_right.anyright p{
  color: var(--theme-blue);
  width: min(100%, 400px);
}
.stay_right.anyright button {
  background: var(--theme-blue);
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 8px;

}


.stay_left img {
  max-width: 350px;
  max-width: 100%;
  /* width: 100%; */
  /* max-height: 450px; */
  border-top-right-radius: 40px;
  /* object-fit: fill; */
}
.stay_left.anywhere img {
  max-height: 350px;
} 

@media (max-width: 700px) {
  .stay_left img {
    max-width: 450px;
    border-top-right-radius: 40px;
    /* object-fit: fill; */
  } 
  .stay_left.anywhere { 
    background-position-x: center;
    background-size: 58%;
  }
  .stay_right.anyright {
    align-items: center;
  }
}

@media (max-width: 450px) {
  .stay_left img {
    max-width: 100%;
  } 
}

@media (min-width: 701px) and (max-width: 900px){
  .stay_left img {
    object-fit: cover;
  }
}

@media (min-width: 900px){
  .stay .stay_left {
    flex-basis: 40%;
  }
  .stay .stay_right {
    flex-basis: 60%;
  }
}

@media (min-width: 1100px){
  .stay {
    max-width: 1024px;
    /* gap: 4rem; */

  }
}
.stay header {
    margin-bottom: .6rem;
    text-align: start;
    
}

@media screen and (max-width: 717px) {
    .stay {
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    /* .teach_benefit .stay {
      flex-wrap: wrap-reverse;
      gap: 1.5rem;
    } */
    .stay_left {
        height: auto;
        justify-content: center;
    }
}

.betterway_card {
    color: var(--theme-blue);
}
.betterway_card h5 {
    font-weight: 700;
}

/* new Learning models */
.betterway_learning_models {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: min(100%, 1100px);
    margin:auto;
    margin-top: 2rem;
}


@media (max-width:768px) {
    .betterway_learning_models .seamless .betterway_learning_models {
        display: grid;
        grid-template-columns:  1fr;
        gap: 2rem;
    }
}


.seamless .betterway{
  background-color: #FFF;
  padding: 3rem 0;
}

.seamless .stay_left {
  background: inherit;
}
.seamless .stay_left img {
  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.seamless ul {
  list-style-type: none;
  line-height: 20px;
}
.seamless .stay header {
  margin-bottom: 0;
}
.seamless .stay header h6{
  margin-bottom: 2px;
}

.models {
    display: flex;
    flex-direction:column;
    background-color: #fff;
}
.models > div {
    flex-basis:100%;
}
.models .model_right {
    padding: 1rem;
}
.models .model_right header {
    margin-bottom: 0;
    text-align: start;;
}
.models .model_right header h5{
    font-weight: 700;
}
.models img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:612px){
    .models {
       flex-direction: row;
    }
}


.popular_categories_tab_wrapper, .popular_views {
    padding: 1rem 4rem;
}
.popular_views.dark_border {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.btn-plain.new_categories_btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px !important;
}

@media  (max-width:712px){ 
  .popular_categories_tab_wrapper, .popular_views {
    padding: 1rem;
  }
}
@media (max-width:574px){ 
  .newCategories_card {
    max-width: 100%;
  }
}


@media screen and (min-width: 612px){
  .myVideo{ 
    height: 350px !important;
  }
}

@media screen and (min-width: 1900px){
  .myVideo{ 
    height: 400px !important;
  }
}



.professional {
  padding-block: 2.9rem;
}
.tech_pro > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .tech_pro > div > div {
  flex-basis: 100%;
} */

.tech_pro_img_wrapper {
  display: flex;
  justify-content: center;
  max-height: calc(300px + 5rem);
  padding-block: 2rem;
  background: #ECEFFF;

}
.tech_pro_img {
  max-width: 100%;
  max-height: 300px;
}

.tech_pro_content {
  padding-block: 2.5rem;

}
.tech_pro_content h6 {
  font-weight: 700;
  color: #000000;
  margin-bottom: 1.1rem;
  font-size: clamp(1rem, 0.9107rem + 0.4464vw, 1.3125rem);
  width: min(100%, 400px);
}
.affiliate_pro  .tech_pro  h6 {
  color: var(--theme-blue);
}

.tech_pro p {
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.025rem);
  margin-bottom: 1.5rem;
}


.tech_pro a {
  margin-top: 2rem;
}

.tech_pro button {
  border: none;
  padding:  8px 12px;
  background-color: var(--theme-blue);
  color: #fff;
  font-size: 15.5px;
  font-weight: 500;
  /* outline: 2px solid #eee; */
}

/* .affiliate_pro {
  background: #ECEFFF;
} */
/* .affiliate_pro .tech_pro > div  {
  flex-direction: column-reverse;
} */

@media (min-width: 600px ){
  .tech_pro > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .affiliate_pro  .tech_pro > div, .trackPro .tech_pro > div {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  

  .tech_pro .tech_pro_content {
    flex-basis: 50%;
  }
  .tech_pro .tech_pro_img_wrapper {
    flex-basis: 50%;
  }
}

@media (min-width: 800px ){
  
  .tech_pro > div {
    display: flex;
    gap: 1rem;
  }
  
  .tech_pro_img {
    width: 100%;
    max-height: 380px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }

  .tech_pro_img_wrapper {
    max-height: 380px;
  }
}

@media (min-width: 900px ){
  
  .tech_pro > div {
    display: flex;
    gap: 1rem;
  }
  
  .tech_pro .tech_pro_content {
    flex-basis: 55%;
  }
  
  .tech_pro .tech_pro_img_wrapper {
    flex-basis: 45%;
  }
  
  .tech_pro_img {
    width: 80%;
    max-height: 380px;
   
  }

  .tech_pro_img_wrapper {
    max-height: 380px;
  }
}

.trackPro {
  padding-block: 3.7rem;
  background: rgba(235, 240, 255, 0.5);
}

.track_pro_img_wrapper {
  display: flex;
  justify-content: center;
  max-height:300px ;
}
.track_pro_img {
  max-width: 100%;
  max-height: 300px;
}

.track_pro_content h6 {
  font-weight: 700;
  color: var(--theme-blue);
  margin-bottom: 1.1rem;
  font-size: clamp(1.8rem, 2.2643rem + -2.3214vw, 2.175rem);
}

.track_pro_button {
  border: none;
  padding:  8px 12px 8px 0;
  color: var(--theme-blue);
  font-size: 15.5px;
  font-weight: 500;
  background: inherit;
  position: relative;
  margin-right: 5px;
}
.track_pro_button::after {
  content: ">>";
  position: absolute;
  right: -10px;
  color: var(--theme-blue);
  font-size: 16px;
}

@media (min-width: 600px ){
  .trackPro > div {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .trackPro .track_pro_content {
    flex-basis: 50%;
  }
  .trackPro .track_pro_img_wrapper {
    flex-basis: 50%;
  }
}

@media (min-width: 800px ){
  .trackPro > div {
   align-items: center;
  }

  .track_pro_img_wrapper {
    justify-content: flex-end;
  }
}

@media (min-width: 900px ){
  
  .tech_pro_img_wrapper {
    max-height: 450px;
  }
}



.what_we_do {
  padding-block: 1.5rem;
}

.what_we_do p {
  width: min(100% - .5rem, 800px);
  margin: auto;
}

.what_we_do header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.what_we_do h4 {
  font-weight: 700;
  margin-bottom: 0;

}

.video_section {
  min-height: 350px;
  max-height: 70vh;
  position: relative;
}

.video_section img, .video_section .video_content {
position: absolute;;
right: 0;
left: 0;
}

.video_section img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.video_section .video_content {
  color: #fff;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 4, 26, 0.5);
}

@media (min-width: 953px) {
  .video_section {
    min-height: 400px;
  }
}
@media (min-width: 1100px) {
  .video_section {
    min-height: 450px;
  }
}

@media screen and (max-width: 560px){
  .popupmodal{
    min-width: 300px;
  }
  .popupmodal iframe {
    width: 100%;
  }
}



/* SERVICES */
.services {
  padding-block: 4rem;
}
.services_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  /* gap: 2rem; */
}

@media (min-width: 450px ){
  .services_list {
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }

}

@media (min-width: 868px) {
  .services_list {
    gap: 2rem;
  }
}

.our_mission {
  padding-block: 2.8rem;

}
.our_mission header h6 {
  color: var(--theme-blue);
  font-size: clamp(1rem, 0.9107rem + 0.4464vw, 1.3125rem);

}
.our_mission_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.our_mission_left {
  display: flex;
}
.our_mission_content img {
  max-width: 100%;
  max-height: 380px;
  margin-inline: end;
  /* width: 100%; */

}
.our_mission_content h6 {
  font-weight: 700;
}
.our_mission_content ol {
  padding-left: 1rem;
}
.our_mission_content button {
  padding: 8px 20px;
  border: none;
  background: var(--theme-blue);
  color: #fff;
}

@media screen and (min-width: 700px){
  .our_mission_content {
    flex-direction: row-reverse;
  }
 
  .our_mission_content > div {
    flex-basis:50%;
  }
  .our_mission_content img {
    max-height: 380px;
    object-fit: contain;
    margin-left: auto;
  }
}