.newHero {
    background: var(--theme-blue);
    height:100%;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-bottom: 7rem;
    
}
.or {
    width: 100%;
    text-align:center;
    border-bottom:1px solid #eee;
    line-height:0.1em;
    margin:10px 0 10px;
}

.or span {
    background: var(--theme-blue);
    color: #fff;
    padding: 0 10px;
}
.social_signIn_wrapper .or span {
    color: var(--theme-blue);
    background: #fff;
}
 .newHero_left header {
    color: #ffffff;
    width: 100%;
} 
.newHero_left-userSignin{
    width: 100%;
}


.newHero_left-userSignin button, .newHero_left-userSignin  a p {
    cursor: pointer;
}
.newHero_left-userSignin  a {
    color:  #fff;
}
.newHero_left header h1 {
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: clamp(2.8125rem, 2.6339rem + 0.8929vw, 3.4375rem);
}
.newHero_left h6{
    font-size: 16px;
}
.newHero_left-title {
    width: 60%;
    margin-inline:auto;
    margin-left: auto;
    margin-right: auto;
}

.newHero_left {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 100%;
    align-items: center;
}



.newHero_right  {
    height:350px;
    margin-bottom: .5rem;
}

.newHero_right img {
    max-width: 100%;
    width: 100%;
    height: 350px;
}
.newHero .newHero_left-userSignin button, .social_signIn_wrapper button {
    font-size: 14px;
    font-weight: 700;
    border: 0.5px solid var(--theme-blue);
    padding: 12px;
    border-radius: 10px;
    line-height:28.24px;
    outline: none;
    color: black ;
    background: #ffffff;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}
.social_signIn_wrapper button {
    width: 100%;

}
.newHero small, .newHero a {
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}
.newHero_left small, .newHero_left p:last-child{
    text-align: center;
}


@media (min-width: 700px){
    .newHero {
        height:min(calc(100vh - 81px ), 600px);
    }
    .newHero > div {
        display: flex;
        /* flex-direction:row-reverse; */
    }
    .newHero_left{
        width: 50%;
    }
    .newHero_right {
        position: absolute;
        display: block;
        height:min(100vh, 680px);
        bottom:-50%;
        right: 0;
        top: 0;
        width: 50%;
        margin-bottom: 0;

    }
    .newHero_right img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .newHero .newHero_left-userSignin button {
        width: 90%;
    }
}

@media (min-width:1024px){
    .newHero .newHero_left-userSignin button{
        width: 85%;
    }
    .newHero_left header{
            padding-right: 1rem;
    }

}
@media (min-width:1120px){
    
    .newHero_left header{
            padding-right: unset;
    }

}
@media (min-width:1197px){
    .newHero .newHero_left-userSignin button{
        width: 60%;
    }
}

@media (max-width: 600px){
    .newBootcamp, .newHero {
    height: 100% !important;
    margin-bottom: 2rem;
    }
    .newHero_left-userSignin{
        width: 100%;
    }
    .newHero .newHero_left-userSignin button, .social_signIn_wrapper button {  
        width: 100%;
        padding: 12px 18px;
    }
     
}

@media (min-width:591px) and (max-width: 870px){
    .social_signIn_wrapper button{
        width: 100%;
        padding: 8px;
    }
}
@media screen and (min-width: 1440px){
    .newHero {
        height:min(calc(100vh - 81px ), 850px);
        
    }
    .newHero_right {
        right: 0;
        /* bottom: 0; */
        height:min(100vh, 930px);
    
    }
    .newHero_left header h1 {
        margin-bottom: 2rem;
        font-weight: 900;
        font-size: 65px;
    }
    .newHero_left h6{
        font-size: 20px;
    }
}


@media (max-width: 1200px){
    .newHero_right img {
        object-fit: cover;
        object-position:left;
    }
}





/* CATEGORIES */
.newCategories_header{
    color: var(--theme-blue);
    text-align: center;
    font-weight: 700;
    font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.25rem);
    margin-bottom: 3rem;
}
.newCategories .MuiTabs-scroller button:hover {
    background: var(--theme-blue);
    color: #fff !important;
}
.newCategories .swiper-wrapper {
    margin-bottom: 1rem !important;
}
.newCategories_card {
    box-shadow: 0px 15px 13px 0px #eee;
        height: 100%;
}

.newCategories_card-body {
background: #ffffff;
height:70px;
}
.newCategories_card-body h6, .newCategories_card-body p {
    color: #000000;
}
.newCategories_image {
    height: 200px;
    width: 100%;
}


.benefit_box-top {
    border-left: 6px solid;
    padding-block: 4px;
    padding-top:auto;
    padding-bottom:auto;
}
.benefit_box-bottom {
    border-left: 6px solid white;
}
.benefit_box-bottom h6{
    color: #5f5f5f;
}
.benefit_box .benefit_box-bottom p {
    margin-block: 0 ;
     margin-top:0;
    margin-bottom:0;
    text-align: start;
    font-size: 14px;
    color: #9f9f9f;

}


.benefits_button {
    border: 2px solid var(--theme-blue) !important;
    color: var(--theme-blue) !important;
    font-weight: bold;
    padding-left:3rem;
    padding-right:3rem;
    padding-inline: 3rem !important;
   
}
.newBootcamp {
    /* min-height:70vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-block: 4rem ;
    padding-top:4rem;
    padding-bottom:4rem;
    color: #fff;
    display: grid;
    place-items:center;

}
@media (max-width: 600px){
    .newBootcamp {
        height: 100% !important;
        margin-bottom: 2rem;
    }
    
     
}
.newBootcamp header h6 {
    font-weight: bolder;

}
.newBootcamp_title {
    width: 65%;
}
.newBootcamp_title p {
    font-size: 1.2rem;
    line-height: 30.06px;
}

.newBootcamp_title p:first-child  {
    font-weight: 800;
    font-size:40px;
    margin-bottom: 1.3rem;
    line-height: 48.06px;

}
.newBootcamp_timing{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: .5rem;
}
.newBootcamp_button {
    border:none;
    outline:none;
    background: #fff;
    color:var(--theme-blue);
    padding: 10px 3rem;
    font-weight: 700;
    border-radius:8px;
}
.newBootcamp_duration,
.newBootcamp_start {
    gap: .5rem;
}

@media (max-width: 975px) {
    .newBootcamp_title {
        width: 100%;
    }
}


/* LEARNING */
.newLearning button a, .newMentor button a {
    color: inherit;
}
.newLearning header, .newMentors h3, .newMentor header {
    position:relative;
    margin-bottom: 1rem;
    width: 70%;
    line-height:44px;

}

.newLearning header::after, .newMentor header::after,  .newMentors h3::after{
    content:"";
    width:150px;
    height: 10px;
    background: var(--theme-orange);
    position: absolute;
    bottom: -10px;
}
.newMentors header {
    margin-bottom: 2rem;
}
.newMentors header p {
    width: 60%;
    margin-inline: auto;
    margin-left:auto;
    margin-right:auto;
    line-height:30px;
}

.newMentors h3::after{
    left: 50%;
    transform:translateX(-50%);
    bottom: -30px;

}
/* LEARNING */

.newLearning {
    padding: 1rem 0;
}
.newLearning header h2 {
    font-size: clamp(2.1875rem, 1.9554rem + 1.1607vw, 44px);
    color: var(--theme-blue) !important;
}
.newLearning .content{
    display: flex;
    flex-direction: column-reverse;

}

.newLearning_right .background img {
    object-position: top;
    border-radius: 10px;
}
/* .newLearning-text {
    line-height:38px;
} */
.newLearning .newLearning_button {
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    font-weight: 700;
    border-radius:4px;
}
@media (max-width: 660px) {
   
    .newLearning_right .background img, .transition .background img, .becoming .background img {
        height:100%;
    }
    .inPerson .background img {
        max-height: 350px;
        object-fit:cover;
        object-position:top;
    }
}

@media (max-width: 777px){

    .newLearning header, .newMentors h3{
        width: 100%;
    }
    .newLearning header{
        margin-top: 2rem;
    }
    .background img {
        width: 100%;
    }
   
}



@media (min-width: 650px) {
    .newLearning {
        margin:2rem 0 ;
    }
    .newLearning .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .newLearning_left{
        flex: 1;
    }
    
    .newLearning_right{
        flex: 1;
        align-self:center;
    }
    .newLearning_right .background img{
        height: 100%;
        max-width: 100%;
    }
}
@media (min-width:1024px){
    .newLearning_right{
        flex: 1;
        align-self:unset;
    }
}

/* SELF */
.newSelf {
    margin: 1.5rem 0;
}
.newSelf .content {
    flex-direction: column;
}
.newSelf_left,
.newSelf_right{
    flex: 1;
}

@media (min-width: 650px) {
    .newSelf .content {
        flex-direction: row;
    }
    .newSelf_right{
        flex: 1;
        align-self:center;
    }
    .newSelf .background img{
        height: 100%;
        max-width: 100%;
    }

    .newSelf_left-wrapper {
        width: 85%;
        margin-left: auto;
    }
}
@media (min-width:1024px){
    .newSelf_right{
        align-self:unset;
    }
    .newSelf_right .background img{
        height: 100%;
        max-height: 350px;
    }
}
/* NEW MENTOR */
.newMentor {
    padding: 1rem 0;
}

.newMentor header h2 {
    font-size: clamp(2.1875rem, 1.9554rem + 1.1607vw, 44px);
    color: var(--theme-blue) !important;
}

@media (max-width: 500px){
     .newMentor header {
        position:relative;
        margin: 1rem 0;
        width: 100%;
        line-height:44px;    
    }
    
}
.newMentor .content {
    display: flex;
    flex-direction: column-reverse;
}
.newMentor_right .background {
    display: flex;
    justify-content:center;
}
.newMentor_right .background img {
    max-height:350px;
    object-position: top;
    border-radius: 10px;
    object-fit: cover;
}
/* .newLearning-text {
    line-height:38px;
} */
.newMentor .newMentor_button {
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    font-weight: 700;
    border-radius:4px;
}
@media (min-width: 650px) {
    .newMentor .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .newMentor_left{
        flex: 1;
    }
    
    .newMentor_right{
        flex: 1;
        align-self:center;
    }
    .newMentor_right .background img{
        max-height: 350px;
        max-width: 100%;
    }
}
@media (min-width:1024px){
    .newLearning_right{
        flex: 1;
        align-self:unset;
    }
}

/* MENTORS */

.newMentors {
    background: var(--theme-blue);
    padding-block:3.8625rem;
    padding-top:3.8625rem;
    padding-bottom:3.8625rem;
}
.newMentors header {
    color:#fff ;
}
.newMentors h3 {
    text-align:center;
    color: #fff !important;
    margin-inline:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3rem;
    width:60%;
}

.newMentors {
    transition: all .3s ease;
    height:100%;
  }
  .newMentors .card{
    height:100%;
    transition: all .3s ease;
  }
  
  .newMentors  .mentors_footnote {
    display:none;
    transition: all .3s ease;

  }
 
  
.newMentors .card-body{
    background: rgba(255, 255, 255, 0.49);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 130px;
    bottom: 0;
    transition: all .3s ease-in-out;

}

.newMentors .card:hover  .newMentors_card-body{
    /* display: none; */
    height: 200px;
   }
  .newMentors .card:hover  .mentors_footnote{
     display:  block;
     transition: all .3s ease;

   }
/* .newMentors .card img{
    height:270px;
    object-position:top;
    object-fit:cover;
} */
.newMentors .card{
    height:100%;
}


@media screen and (max-width: 575px){
    .newMentors h3 {
        width: 75%;
    }
}





.newLogin {
    border: 2px solid #fff !important;
    color: #fff;
    background:var(--theme-blue);
    font-size: 14px;
    padding: 0.725rem 2.5rem !important;
}
.newRegister {
    color: var(--theme-blue) !important;
    background: #fff;
    font-size: 15px;
    padding: 0.725rem 2.5rem !important;
}
 
@media (max-width: 575px){
    .newBootcamp_timing  {
        flex-wrap:wrap;
        justify-content: center;
        gap: unset;
    }
    .newBootcamp_title {
        text-align: center;
    }
    .newBootcamp_timing > div{
        flex: 50%;
    }
}
@media  (max-width: 1200px){
    .newCategories_image {
        object-position:top ;
        object-fit: cover;
    }
}
@media (max-width: 400px){
    .newCategories_image {
        height: 120px;
        width: 100%;
        /* object-position: ; */
        object-fit: cover;
    }
    .newCategories_card-body{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .newCategories_card-body h6 {
        font-size: 10px !important;
    }
    
}
  
 