:root {
    --pry: #0C2191;
    --red: #F75C4E;
    --white: #fff;
}


.bootcamp {
    /* width: 100%; */
    flex:60%;
    padding-left: 2%;
    padding-right: 20%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.2rem;
}

.bootcamp_content {
    /* padding: 40px; */
    padding-top: 0px;
    /* width: 45%; */
}

.bootcamp_content h2 {
    font-weight: 700;
    color: var(--pry);
    margin-bottom: 30px;
    font-size: 2.2rem;
    letter-spacing: 0.3px;
}

.bootcamp_content p {
    margin-bottom: 30px;
    line-height: 2;
    letter-spacing: 0.3px;
}

.bootcamp_content button {
    width: 157px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--pry);
    color: var(--white);
}

.bootcamp_details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-right: 20px;
}

.bootcamp_details div p{
    margin-bottom: 5px;
}
.bootcamp_details div span{
    color: var(--red);
}

.bootcamp_image {
    flex: 40%;
    height: 100vh;
    background-color: var(--pry);
    position: relative;
    margin-top: 0;
}

.image_container {
    position: absolute;
    height: 65%;
    width: min(100% - 2rem, 550px);
    left: -150px;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 10px;
    background-image: url("../../images/bootcamp.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1160px){
    .image_container {
        /* width: 500px; */
        left: -100px;
    }
}


@media screen and (max-width: 800px){
    .bootcamp {
        /* width: 100%; */
        min-height: 100vh;
        padding-right: 5%;

    }

    .bootcamp_content {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .bootcamp_image {
        width: 100%;
        position: relative;
        display: grid;
        place-items:center;
    }

    .image_container {
        /* width: 70%; */
        /* left: 15%; */
        /* top: -100px; */
        /* height: 300px; */
        margin: auto;
        position: relative;
        border: 1px solid;

    }
    .bootcamp_image {
    }
    
    .image_container {
        height: 65%;
        left:0;
        top: 0;
        transform:translateY(0);
        border-radius: 10px;
        background-image: url("../../images/bootcamp.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 600px){
    .container {
        flex-direction: column-reverse;
        min-height: 100vh;
    }
    .bootcamp, .bootcamp_image {
        /* width: 100%; */
        min-height:100%;
        flex:1 1 100%;
    }
    .image_container {
        height: 85%;
        
    }
.bootcamp {
    padding-right: 2%;

}
    .bootcamp_image{
        min-height: 400px;
    }
}
@media screen and (max-width: 560px){
    .bootcamp_content h2 {
        font-size: 2rem;
    }
    
    .bootcamp_content p {
        line-height: 1.8;
    }

    .bootcamp_content {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    
}


/* bootcamp details */

.bootcampTraining .hero, .bootcampTraining .new_hero, .new_hero {
    color: var(--white);
    background-origin: center;
    background-blend-mode: multiply !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position: center !important;
    height: min(100vh - 81px, 450px);

}

.bootcampTraining section:not(:first-child) {
        background: #E5E5E5;
        padding: 2rem 0;
}
.bootcampTraining .hero .hero_content{
    display: grid;
    height:100%;
    align-items:center;
}

.new_hero .hero_content {
    display: grid;
    height:100%;
    place-items:center;
    place-content: center;
    color: #fff;

}
.hero_content h4 {
    font-size: clamp(2.375rem, 1.9464rem + 2.1429vw, 3.875rem);
    font-weight: 800;
    text-align: center;;
}
.hero_content p {
    width: 70%;
    text-align: center;
    margin: auto;
}
.hero_content .hero_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.7rem;
    gap: 4rem;
}

.hero_buttons button {
    padding: 8px 24px;
    font-size: .9rem;
    color: #ffffff;
    border-radius: 10px;
}
.hero_buttons button:last-child {
    border: 1px solid #e5e5e5;
    background: none
}
.hero_buttons button:first-child {
    background-color: var(--theme-orange);
    border: none;
}

.bootcampTraining .hero h1 {
    width: min(100%, 800px);
    font-size:clamp(38px, 3.5vw + 1rem, 60px);
    font-weight:800;
}
.bootcampTraining h3 {
    font-size:32px;
    font-weight:800;
}

.bootcampTraining .timing {
    background: var(--theme-blue);
    color: var(--white);
    padding-block: 1.5rem;
}
.bootcampTraining .timing h4 {
    font-size:clamp(18px, 3.5vw, 28px);
}
.career_list {
    margin-top: 2rem;
}
.career_list h6 {
    color: var(--theme-blue);
    font-weight: 700;
}
.career_list ul {
    padding-left: 0;
}
.career_list li, .requirement li {
    background: url(../../images/list.png) no-repeat left;
    background-position-y: 7px;
    padding: 5px 10px 5px 35px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
  }
  
.bootcampTraining ol li,
.bootcampTraining ul li {
    line-height:28px;
}
.img_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
}
.img_grid img{
    width: 100%;
}
@media (min-width:612px){
    .img_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

.link {
    display: flex;
    justify-content: center;
    /* gap: 8rem; */
    align-items: center;
    width: min(100% - .2rem, 950px);
    margin: auto;
    margin-bottom: 2rem;
}
.link .box {
    position: relative;
    /* margin-right: -90px; */
}
.link .line {
    width: 110%;
    height: 8px;
    background-color: var(--theme-orange);
}
.link .box p:first-child {
    padding: 1rem;
    background-color: var(--theme-orange);
    color: #fff;
    font-size: 18px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
} 
.link .box p:first-child::after {
    content: "";
    width: 150px;
    color: #000;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.link .box .learn::after {
    content:"Learn Foundations" !important;
}
.link .box .practice::after {
    content:"Practice New Skills" !important;
}
.link .box .portfolio::after {
    content:"Create Portfolio" !important;
}
.link .box .prepare::after {
    content:"Prepare for Job Hunt" !important;
}
.link .box .land::after {
    content:"Land the Job!" !important;
}
.link .box p:last-child {
    font-size: 14px;
}

@media (max-width: 776px) {
    .link .line {
        width: 12%;
    }
}
@media (max-width: 690px) {
    .link .line {
        display: none;    
    }
    .link {
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

header {
    margin-bottom: 3rem;
}
.section_title {
    text-align: center;
}
header hr {
    max-width: 150px;
    height: 5px !important;
    background: var(--theme-orange);
    margin: auto;
    opacity: 1;
    margin-bottom: 1rem;
}
header h3 {
    color: var(--theme-blue);
    font-weight: 700;
}
.upcoming_classes {
    padding: 3rem 0;
    background: #E5E5E5;
}
.upcoming_card {
    background: #F9F9F9;
    padding: 1rem;
    /* box-shadow: 0px 591px 236px rgba(0, 0, 0, 0.01), 0px 332px 199px rgba(0, 0, 0, 0.05), 0px 148px 148px rgba(0, 0, 0, 0.09), 0px 37px 81px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
    
}
.upcome {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid gray;
}
.upcome:last-child {
    border-bottom: none;

}
.upcome > * {
    flex-basis: 100%;
}
.upcome button{
    border: none;
    border-radius: 10px;
    color:#fff;
    background: var(--theme-orange);
    padding: 8px 24px;
}
.upcome p:first-child {
    font-weight: 700;
}
.payment_options > div {
    background: #e5e5e5!important;
}