:root {
    --pry: #0C2191;
    --red: #F75C4E;
    --white: #fff;
}


.bootcamp {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 0.2rem;
}

.bootcamp_content {
    padding: 40px;
    padding-top: 0px;
    width: 55%;
}

.bootcamp_content h2 {
    font-weight: 700;
    color: var(--pry);
    margin-bottom: 30px;
    font-size: 2.2rem;
    letter-spacing: 0.3px;
}

.bootcamp_content p {
    margin-bottom: 30px;
    line-height: 2;
    letter-spacing: 0.3px;
}

.bootcamp_content button {
    width: 157px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--pry);
    color: var(--white);
}

.bootcamp_details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-right: 20px;
}

.bootcamp_details div p{
    margin-bottom: 5px;
}
.bootcamp_details div span{
    color: var(--red);
}

.bootcamp_image {
    width: 35%;
    height: 100vh;
    background-color: var(--pry);
    position: relative;
}

.image_container {
    position: absolute;
    height: 65%;
    width: min(100% - 2rem, 550px);
    left: -150px;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 10px;
    background-image: url("../../images/bootcamp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1160px){
    .image_container {
        /* width: 500px; */
        left: -100px;
    }
}


@media screen and (max-width: 800px){
    .bootcamp {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .bootcamp_content {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .bootcamp_image {
        width: 100%;
        height: 40vh;
    }

    .image_container {
        /* width: 70%; */
        /* left: 15%; */
        /* top: -100px; */
        /* height: 300px; */
        margin: auto;
        position: unset;

    }
    .bootcamp_image {
        background-color: unset;
        position: relative;
    }
    
    .image_container {
        height: 100%;
        left:0;
        top: 0;
        transform:translateY(0);
        border-radius: 10px;
        background-image: url("../../images/bootcamp.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 560px){
    .bootcamp_content h2 {
        font-size: 2rem;
    }
    
    .bootcamp_content p {
        line-height: 1.8;
    }

    .bootcamp_content {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    
}