* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --primary: #F5F5F5;
  --black:rgba(0, 0, 0, 1);
  --text-color-dark:rgba(65, 65, 65, 1);
  --text-color-light:rgba(94, 91, 91, 1);
  --btn-color: rgba(12, 33, 145, 1);
}


.nav{
  padding: 1.2rem 0;
}
.nav .link {
  position: relative;
  color: var(--black) !important;
  font-size: 14px;
  font-weight: 500;
}

.link:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 2rem;
  height: 0.09rem;
  background-color: var(--text-color-light);
  /* border-bottom: 1px solid; */
}


/* **********************SERVICES******************************* */

.right p i {
  margin-right: 1.15rem;
}