@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
:root {
  --primary: #f5f5f5;
  --black: rgba(0, 0, 0, 1);
  --white: #fff;
  --obsidian: #070f18;
  --textColorDark: #081131;
  --textColorLight: #5e5b5b;
  --textColorLighter: #9F9F9F;
  --btnColor: rgb(12, 33, 145);
  --accentColor: #023047;
  --textBlue: #0C2191;
  --greenish: #023047;
  --secondary: #2F80ED;
  --gray: #9DA6BA;
  --info: #5A63F7;
  --green: #037615;
}
a {
  text-decoration: none;
  color: var(--text-color-dark);
}
.mt-mid {
  margin-top: 2.0625rem !important;
}
.btn-plain {
  border: 1px solid var(--obsidian);
  outline: none;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  font-size: 1.125rem;
  line-height: 1rem;
  padding: 0.9375rem 1.5rem !important;
}
.button {
  border: 1px #fff;
  outline: none;
  border-radius: 10px;
  background-color: var(--btn-color);
  color: white;
  font-size: 0.875rem;
  line-height: 2rem;
}
.button-lg {
  padding: 0.875rem 3.0625rem !important;
}
.button-md {
  padding: 0.6875rem 3rem !important;
}
.title {
  color: var(--greenish) !important;
  font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.25rem);
  font-weight: 600;
}
.text-dark {
  color: var(--text-color-dark) !important;
}
.text {
  color: var(--text-color-light) !important;
}
.paragraph {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 28px;
}
.nav {
  padding: 1.2rem 0;
}

.nav .navbar-toggler {
  border: none;
}
.nav .link {
  position: relative;
  color: var(--btn-color) !important;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  background: #fff;
}

.nav .courses{
  color: #191046 !important; ;
}
.holder {
  position: relative;
}
.drop {
  position: absolute;
  width: min(280px, 300px);
  line-height: 34px;
  background: #fff;
  /* bottom: -100; */
  right: 0;
  box-shadow: 0px 4px 30px #e5e5e5;
  padding: 1.5rem 2.125rem;
  z-index: 2200;
  /* border: 1px solid; */
}
/* .drop ul {
  
  border: 1px solid;
} */

.drop_caret {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}
.drop li a {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 46px; */
  color: var(--text-color-light);
}
.drop li {
  list-style-type: disc;
}

.navbar .button {
  border: 1px solid var(--obsidian);
  outline: none;
  background-color: var(--btn-color);
  border-radius: 10px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1rem;
  padding: 0.9375rem 1.5rem !important
}
.navbar .signup{
  margin-right: 10px;
  border: 1px solid #fff;
}



/* *********************HERO************************* */
.hero {
  background: #F1F8FF;
}
.hero_logo {
  margin-top: .3rem;
  margin-bottom: 2.5rem;
}
.hero_content  .hero_left{
  padding: 85px 0;
}
.hero_text {
  font-weight: 800;
  font-size: 50px;
  line-height: 64px;
  color: var(--text-blue);
  text-transform: capitalize;
  margin-bottom: 2.5375rem;
}

.hero_subtext {
  margin-bottom: 1.875rem;
}
.hero_right,
.hero_left {
  flex: 50%;
}
.hero input {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
padding: 17px 0 13px 0 ;
}
.hero .search_btn {
  background: var(--btn-color);
  color: white;
  border-radius: 10px;
  padding: 17px 29px 13px 28px ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hero span {
  color: var(--btn-color);
}
.hero .keyword_wrapper {
  line-height:32px;
  gap: 1.5rem;
}

.hero .pill_wrapper {
  line-height:34px
}

.hero .background {
  width: 100%;
}

.hero img {
  max-width: 100%;
}
.hero .pill {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  outline: none;
  padding: 2px 13px;
  font-size: 14px;
line-height: 24px;
margin: 0 .38rem;
border-radius: 10px;
background-color: #F1F8FF;
gap: 1rem;
}
/* **********************SERVICES******************************* */
.wrapper {
  display: flex;
  justify-content: flex-end;
}
.services,
.becoming {
  padding: 4.0625rem 0;
}

.services .left,
.services .right {
  flex: 50%;
}
.services img {
  height: 100%;
  width: 100%;
}
.services  .title {
  line-height: 72px;
  color:var(--text-color-dark) !important;
}

.services_list {
  line-height: 15px;
  list-style: none;
  padding-left: 0;
}
.services_list li {
  line-height: 32px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.services_list li i {
  margin-right: 1rem;
}
.content-wrapper {
  padding-left: 5.565rem;
}
.content {
  width: 100%;
}

.right {
  padding-left: 5.375rem;
}

.right .title {
  font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.25rem);
}
.right p i {
  margin-right: 1.15rem;
}


.services_box {
  flex: 33.33% 0;
  width: 33.33%; 
  margin: 2rem 0;
  /* border: 1px solid; */
}
.services_box p {
  text-align: center;
}

/* *********************LEARNING*************************** */
.learning {
  position: relative;
  background: #ffffff;
  padding: 5.0625rem 0;
}
.learning .card {
  position: absolute;
  z-index: 1000;
  width: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5625rem 2.625rem 1.5625rem 3.1875rem !important;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none !important;
}

.learning .content {
  position: relative;
  /* border: 1px solid; */
}
.transition .sides {
  margin-right: auto;
}
.learning .sides,
.transition .sides {
  width: 90%;
  /* border: 1px solid tomato; */
}

.learning .background {
  position: relative;
  max-width: 100%;
}
.learning .background img {
  max-width: 100%;
}

/* *********************Transition*************************** */
.transition {
  position: relative;
  background: #ffffff;
  padding: 5.0625rem 0;
  /* border:1px solid; */
}
.transition .card {
  position: absolute;
  z-index: 1000;
  width: 50%;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.625rem 2.625rem 0.625rem 2.1875rem !important;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none !important;
  border: 1px solid;
}

.transition .content {
  position: relative;
}

.transition .background {
  position: relative;
  max-width: 100%;
}
.transition .background img {
  max-width: 100%;
}

.learning .card-text,
.transition .card-text {
  /* font-weight: 500; */
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-lighter);
}

/* ****************************CAREERS************************************ */
.career,
.mentors {
  padding: 4.0625rem 3.625rem;
}
.career_title {
  margin-bottom: 1.625rem;
  font-weight: 600;
  font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.25rem);
  line-height: 30px;
  color: var(--obsidian);
}
.career .sub-title {
  margin-bottom: 6.125rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-light);
  width: 60%;
  margin: 0 auto 6.125rem auto;
}
.career .list-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
}
.career .list-section .careerBox_title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--obsidian);
}
.career_box {
  gap: 1.5rem;
}
.career_box .details {
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color-light);
}

/* ****************************MENTORS***************************** */

.mentors .card-img-top {
  height: 300px;
}

.mentors header {
  margin-bottom: 3.375rem;
}
/* .mentors .card {
  height: 600px;
} */

.mentors .card:nth-child(even) {
  height: 490px;
}
.mentors .card img {
  max-width:100%;
  object-fit:cover;
  object-position: top;
}
.mentors .carousel-container {
  padding: 3rem 0rem;
}
.mentors .card-body {
  padding-top: 1.875rem;
  padding-left: 2.1875rem;
  /* padding-right: 4.1875rem; */
  background-color: var(--btn-color);
}

.mentors .card-title {
  margin-bottom: 1.0125rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mentors .card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #fff;
}
/* ***********************TESTIMONIALS******************************* */

.testimonials {
  margin: 4.0625rem 0;
}

.testimonials .testimonials_title {
  font-weight: 600;
  font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.25rem);
  line-height: 40px;
  text-align: center;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
.testimonial_content {
  position: relative;
}
.testimonials_text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 3.125rem;
}
.testimonials_name {
  font-family: "Lato", sans-serif;

  font-size: 16px;
line-height: 42px;
font-weight: 700;
text-align: center;

color: #3D3D3D;
  color: var(--text-color-light);
}
.avatar {
  gap: .3rem;
}
.avatar img {
  width: 91px;
  height: 91px;
}
.slide_container {
  position: relative;
  /* background: url(./images/blob.png) no-repeat;
  background-position: center;
  background-size: contain; */
  width: min(100% - 2rem, 80%);
  margin: auto;
  padding: 5rem 7rem;
  display: flex;
  border-radius: 20px;

  overflow: hidden;
}
.slide_wrapper {
  border-radius: 20px;
  width: min(100% - 2rem, 612px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #d8e8ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.slides {
  width: 100%;
  border-radius: 20px;
  border: none !important;
  padding-top: 1.5rem;
  padding-right: 1.375rem;
  padding-left: 1.375rem;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* ****************DEGREE****************************** */
.degree_content {
  width: 75%;
  margin: auto;
}
.degree {
  margin-bottom: 5rem;
}
/* .degree img {
  max-width: 100%;
} */
.degree_left,
.degree_right {
  flex: 50%;
  padding: 0 0.5rem;
}
.degree .title {
  font-weight: 600;
  font-size: 29px;
  line-height: 72px;
  color: var(--obsidian) !important;
}
.degree_text {
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
  margin-bottom: 44px;
}

/* ****************ACCORDION***************************************** */

.faq {
  margin: 9.375rem 0 7.0625rem 0;
}

.faq_wrapper {
  width: 80%;
}
.faq .title{
  margin-bottom: 3.3rem;
}
.faq_acc button {
  font-weight: 600;
  font-size: clamp(14px,  18px, 19px);
  line-height: 38px;
  background-color: var(--btn-color) !important;
  color: white;
  border-radius: 10px !important;
  padding: 16px 40px 28px 40px !important;
}
.faq_acc_text {
  font-weight: 400;
  font-size: clamp(14px,  16px, 17px);
  line-height: 38px;
  width: 70%;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(./images/caret.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(./images/caret.svg);
  transform: rotate(-180deg);
}

.accordion-button:not(.collapsed) {
  color: #fff;
}

/* ***************FOOTER***************************** */
.footer {
  margin-top: 7.6875rem;
  margin-bottom: 3.1875rem;
}
.footer_left,
.footer_right {
  flex: 50%;
}

.footer_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 72px;
  color: var(--text-color-dark);
}
.footer ul {
  margin: 0 ;
  padding: 0;
}
.footer_label {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: var(--text-color-light);
}

.footer_input {
  background: #ffffff;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  resize: none;
}
.footer_left {
  padding-right: 5rem;
}
.footer a li {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}
/* .footer li a:hover {
  color: var(--btn-color);
  font-weight: 600;
} */
.footer li {
  list-style-type: none;
}
.footer .second li a {
  display: flex;
  align-items: center;
  /* justify-content: center;  */
  gap: 1.0625em;
}

.end {
  min-height: 80px;
  background: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.end .box {
  width: min(100% - 1rem, 80%);
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.end_right {
  gap: .5rem;
}
.end_left span {
  margin-right: .3rem;
}
.end .box span {
  font-size: 14px;
line-height: 45px;
}
/* ********************SIGNUP/LOGIN************************** */

.signWrapper {
  min-height: 100vh;
  /* padding-bottom: 2rem; */
  /* border: 1px solid ; */
}
.log_header {
  padding: 1.5rem 3.6875rem;
}
.signWrapper main {
  height: min(100% - 5rem, 90%);
  /* border: 1px solid tomato; */
}
.log_btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
}
.log_left,
.log_right {
  flex: 50%;
  /* border: 1px solid; */
}
.log_left img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.log_right {
  padding: 0 4.4rem 1rem 4.4rem;
  /* border: 1px solid; */
}
.log_top {
  margin-bottom: 3.4375rem;
}

.log_top a {
  text-decoration: underline;
  color: var(--accent-color) !important;
  margin-left: 0.09rem;
}
.log_title {
  margin-bottom: 2.25rem;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  color: var(--accent-color);
}
.log_navigate {
  margin-bottom: 1.875rem;
}
.log_navigate span {
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  margin-right: 0.5em;
}

.log_navigate span:nth-child(odd):hover {
  cursor: pointer;
  color: var(--btn-color);
}

.log_navigate .selected a {
  color: var(--btn-color);
}
.input_wrapper {
  position: relative;
}
.generic_input {
  border-radius: 5px !important;
  padding: 1rem 3rem;
}
.generic_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(103, 131, 145, 1);
}
.eye {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
}

.form-check-input:checked {
  background-color: var(--obsidian);
  border-color: var(--obsidian);
}

.forgot {
  font-size: 16px;
  line-height: 150%;

  color: var(--accent-color);
}
@media screen and (max-width: 777px) {
  .mt-mid {
    margin-top: 1.0625rem !important;
  }

  .learning .button,
  .transition .button,
  .services .button,
  .becoming .button,
  .degree .button {
    width: 100%;
  }
  .content-wrapper {
    justify-content: center !important;
    padding: 1rem !important;
  }
  .wrapper {
    display: block;
    /* justify-content: flex-end; */
  }
  .right {
    padding-left: unset;
  }
  .becoming .right {
    padding-top: 1rem;
  }
  /* .title {
    text-align: center;
  } */
  .card-body {
    padding: 0;
  }
  .learning .content,
  .transition .content {
    flex-direction: column-reverse;
  }

  .learning .sides,
  .transition .sides {
    width: 100%;
    padding: 1rem;
    /* border: 1px solid tomato; */
  }
  .learning .card,
  .transition .card {
    position: relative;
    flex: 100%;
    z-index: unset;
    width: 100%;
    left: unset;
    right: unset;
    top: unset;
    transform: unset;
    padding: 1rem !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none !important;
  }
  .learning img,
  .transition img {
    flex: 100%;
    border-radius: 10px;
  }
  .career .list-section {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }

  .degree_content {
    width: min(100% - 2rem);
    justify-content: center;
  }
  .footer_container {
    justify-content: center !important;
  }

  .footer_left,
  .footer_right {
    flex: 100% !important;
  }

  .footer_title {
    text-align: center;
  }

  .footer_left {
    padding-right: 0;
  }
  .footer li {
    list-style-type: none;
  }
}

@media screen and (max-width: 995px) {
  /* .paragraph {
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 20px;
  } */

  .hero_left,
  .hero_right {
    flex: 100%;
  }

  .hero img {
    width: 100%;
  }
  .hero_text {
    text-align: center;
  }
  .hero_wrapper {
    flex-direction: column-reverse;
  }

  .content-wrapper {
    padding-left: unset;
  }
  .content-wrapper .left,
  .content-wrapper img {
    width: 100%;
  }
  .content-wrapper .card-body {
    padding: 0;
  }
  /* .right {
    margin-left: 1.375rem;
  } */
  .right p i {
    margin-right: 0.4rem;
  }
  /* .services .title {
    line-height: 40px;
  } */
  .learning,
  .transition,
  .testimonials,
  .services,
  .becoming,
  .career,
  .mentors
  {
    padding: 3.0625rem 0;
  }
  .mentors {
    padding: 3.0625rem .5rem;

  }
  .learning .card,
  .transition .card {
    padding: 1rem !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none !important;
  }

  .learning .sides,
  .transition .sides {
    width: 98%;
  }
  .testimonials {
    margin: 0;
  }

  .career {
    padding: 3.0625rem 0;
  }
  .career_box {
    padding: 0.1rem;
  }
  .career .sub-title {
    width: 95%;
    margin: 0 auto 3.125rem auto;
  }

  .testimonials_text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  
  .slide_container {
    width: min(100%, 80%);
    margin: auto;
    padding: 0;
    overflow: hidden;
    height: 400px;
  }
  .slide_wrapper {
    width: min(100%, 612px);
    height: 300px;
    margin: auto;
  }
  .prev,
  .next {
    width: 40px;
    height: 40px;
    display: flex;
    /* background: white; */
    opacity: 0.5;
    z-index: 2000;
  }

  .slides {
    padding: 0 !important;
  }

  .degree_content {
    width: 100%;
  }
  .degree img {
    max-width: 100%;
  }
  .degree .title {
    line-height: 42px;
    color: var(--obsidian) !important;
  }
  .degree_text {
    font-weight: 400;
    font-size: 26px;
    line-height: 27px;
  }

  .faq {
    margin: 6.375rem 0 7.0625rem 0;
  }
  .faq_wrapper {
    width: 80%;
  }
  .faq_acc button {
    line-height: 28px;
    padding: 16px !important;
  }
  .faq_acc_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    width: 100%;
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(./images/caret.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(./images/caret.svg);
    transform: rotate(-180deg);
  }

  .accordion-button:not(.collapsed) {
    color: #fff;
  }

  .signWrapper main {
    height: min(100% - 5rem, 90%);
    /* border: 1px solid tomato; */
  }

  .log_left,
  .log_right {
    flex: 50%;
    /* border: 1px solid; */
  }
  .log_left img {
    height: 100%;
    max-width: 100%;
  }
  .log_right {
    padding: 0 2.4rem;
    /* border: 1px solid; */
  }
  .log_navigate {
    margin-bottom: 1.075rem;
  }
  .log_navigate span {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-right: 0.5em;
  }
  .log_top {
    margin-bottom: 2.0375rem;
  }
  .log_title {
    font-weight: 400;
    font-size: min(28px, 35px);
    line-height: 120%;
    color: rgba(2, 48, 71, 1);
  }
}
@media screen and (max-width: 550px) {
  .degree_content {
    flex-direction: column;
    justify-content: center;
  }
  .career .list-section {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .degree .title {
    text-align: center;
  }
  .degree_left {
    margin-bottom: 1rem;
  }
  .degree_text {
    font-size: 20px;
    margin: 22px 0;
  }

  .footer_title {
    text-align: left;
  }
  .log_left {
    display: none;
  }
  .log_right {
    flex: 100%;
    /* border: 1px solid; */
  }
  .log_title {
    text-align: center;
  }
.end_left {
  text-align:center;
}
  .end .box {
    width: 95%;
    gap: 1rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}


/* OTHER STYLES */
#sidebar__items .active {
  background-color: var(--secondary);
  color: var(--white);
}

#sidebar__items .active div {
  color: var(--white);
}
#sidebar__items .active div svg{
  color: var(--white);
}

#sidebar__items a {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
  width: 90%;
}

#sidebar__items a:hover {
  color: var(--white);
  background-color: var(--secondary);
}

#sidebar__items a:hover div {
  color: var(--white);
}

#sidebar__items a:hover div svg {
  color: var(--white);
}

#sidebar__items a div svg {
  margin-right: 20px;
  font-size: 1.3rem;
  color: var(--gray);
}


