.events_wrapper {
    background-color: #E7EAFF;
    min-height: 100vh;
}

.articles {
    background: url(../../images/events/eventsHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* margin-bottom: 30px; */
}

.articles .content_container {
    padding: 2rem 0;
}

.articles__container {
    width: 100%;
    /* height: 200vh; */
    /* overflow: hidden; */
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(289px, 100%), 300px));
    gap: 3rem;
    /* border: 5px solid red; */

}



.articleitem {
    flex: 33%;
    max-width:25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid  #202020; */



}

.articleimg {
    width: 100%;
    height: 300px;

}

.articleimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articleInfo {
    flex: .5;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.articleInfo h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #252525;
}

.articleInfo p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #86868B;
}

.articleTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articlebtn {
    width: 100%;
    padding: 2rem;
    text-align: center;

}

.articlebtn button {
    background: #EBEEFF;
    border: 1px solid #B1BEFF;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 12px;
    color: #000000;
}


@media screen and (min-width: 512px) {}

.hero {
    background: url(../../images/events/eventsHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: min(100vh, 600px); */
    /* position: relative; */
    color: #fff;
    /* margin-bottom: 150px; */
}

.hero h2,
.hero p,
.articles h2,
.articles p {
    text-align: center;
    width: min(100% - .5rem, 500px);
    margin: auto;
}

.hero h2,
.articles h2 {
    font-size: clamp(2.1875rem, 1.9554rem + 1.1607vw, 2.8rem);
    font-weight: 700;
    margin-bottom: .5rem;
}

.content_container {
    padding: 2rem 0;
}

.text_content {
    margin-bottom: 3rem;
}

.hero_form {
    margin: 0 auto;
}

.hero_form div {
    width: min(100% - .5rem, 900px);
    margin: auto;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
}

.hero_form select,
.hero_form input {
    flex-basis: 100%;
    padding: 10px 3rem;
    border-radius: 8px;
}

.hero_form button {
    flex-basis: 100%;
    padding: .5rem 24px;
    background: var(--theme-orange);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
}

.hero_img_wrapper {
    width: min(100% - .5rem, 700px);
    margin: auto;
    margin-bottom: -30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

.hero_img_wrapper img {
    width: 100%;
}

@media (max-width: 815px) {
    .hero_form div {
        flex-wrap: wrap;
    }

    .hero_form select {
        flex-basis: 25%;

    }

    .hero_form button {
        flex-basis: 30%;

    }
}

@media (max-width: 438px) {

    .hero_form button {
        flex-basis: 40%;

    }
}

@media (max-width: 331px) {

    .hero_form div {
        padding-bottom: 1rem;
    }

    .content_container {
        padding-top: 1rem;
    }

    .text_content {
        margin-bottom: 2rem;
    }
}

.events_wrapper h3 {
    color: var(--theme-blue);
    margin-bottom: 1rem;
    font-weight: 700;
}

.upcoming {
    padding: 2rem 0;
}

.upcoming_events {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #fff;

}

.upcoming_event {
    display: flex;
    gap: 1.5rem;

}

.upcoming_event .upcoming_event_left {
    flex-basis: 30%
}

.upcoming_event .upcoming_event_right {
    flex-basis: 70%;
    display: flex;
    gap: 1rem;
}

.ondemand_img_wrapper img,
.upcoming_event_img_wrapper img {
    max-width: 100%;
}

.upcoming_event_text_container {
    border-right: 2.5px solid #464646;
    padding-right: 1.5rem;
}

.upcoming_event_text_container h5 {
    color: var(--theme-blue);
    font-weight: 700;
}


.upcoming_event_text_container {
    flex-basis: 70%;
}

.e_details {
    flex-basis: 30%;
}

.tagsConatiner {
    display: flex;
    gap: .3rem;
}

.tag {
    padding: .5rem;
    color: var(--theme-blue);
    background: #96C3FF;
    font-weight: 700;
}

.upcoming_event_right h6 {
    color: var(--theme-blue);
    font-weight: 700;
}

.event_details {
    color: #464646;
    display: flex;
    align-items: flex-start;
    gap: .3rem;
    font-weight: bold;
    line-height: 1.6;
}

.event_details span:first-child {
    display: flex;
    align-items: center;
}

.upcoming_event_right button,
.ondemand_events button,
.eventinfo button {
    margin-top: .5rem;
    padding: .5rem 24px;
    background: var(--theme-orange);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
}

@media screen and (max-width: 611px) {
    .upcoming_event {
        flex-direction: column;
    }

    .upcoming_event_img_wrapper,
    .ondemand_img_wrapper {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 445px) {
    .upcoming_event_right {
        flex-direction: column;
    }

    .upcoming_event_text_container {
        border-right: none;
        padding-right: 0;
    }

}


/* ON DEMAND */
.ondemand {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.ondemand_card {
    padding: 1.3rem 2rem;
    background-color: #fff;
}

.ondemand_events {
    gap: 2rem;
    margin-top: 2rem;
    display: grid;

}

@media (min-width: 612px) {
    .ondemand_events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .ondemand_events {
        display: grid;
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}


.ondemand_top {
    margin-bottom: 1rem;
}

.ondemand_text_container{
    min-height: 250px;
    position: relative;
}

.lastbtn{
    position: absolute;
    bottom: 0;
}

.ondemand_text_container .tags {
    margin-bottom: 1rem;
}

.ondemand_text_container h5 {
    color: var(--theme-blue);
    margin-bottom: 1rem;
    font-weight: 700;
}

.ondemand_text_container h5,
.ondemand_text_container p {
    margin-bottom: 1.3rem;
}

.event {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.eventimage {
    width: 100%;
    height: 400px;
    margin: 0 auto;

}

.eventimage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eventTop {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.eventTop h2,
.eventMiddle h2,
.eventBottom h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #0C2191;
    padding: 2rem;
}

.eventTime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #464646;
    margin-top: 2rem;

}

.eventTime div {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.eventMiddle {
    width: 80%;
    margin: 0 auto;

}

.eventMiddle p {
    font-weight: 400;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
}

.eventBottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.eventProfiles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.eventProfile {
    display: flex;
    gap: 2rem;
}

.eventprofileimg {
    flex: .3;
    height: 250px;
}

.eventprofileimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eventprofiletext {
    flex: .7;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.eventprofiletext p {
    font-weight: 700;
    font-size: 20;
    line-height: 44px;
}

@media (min-width: 912px) and (max-width: 1024px) {
    .eventTop{
        width: 60%;
    } 
}

@media (max-width: 768px) {
    .eventTop, 
    .eventMiddle, 
    .eventBottom{
        width: 100%;
    }

    .eventTop h2, 
    .eventMiddle h2, 
    .eventBottom h2{
        padding: 2rem 0;

    }

    .eventimage{
        width: 100%;
        height: 300px;
        margin: unset;
    }

    .eventTime{
        gap: .5rem;
        font-size: 12px;
    }
    .eventProfile{
        flex-direction: column;
    }
}