

.affiliate_top--left {
    flex: 2.5;
    padding-inline-end: 3rem;
}

.affiliate_top--right {
    flex: 1 0;
}


.affiliate_top--left h3 {
    font-weight: 600;
    font-size: 34px;
    color:var(--textColorDark);
}

.affiliate_top--left p {
    color: var(--textColorLight);
    font-size: 14px;
}

.affiliate_top--left input {
    padding: .75rem;   
    width: 60%;
    border: .5px solid #eee;
    border-radius: 15px;
    outline: none;
}

.affiliate_top--left button {
    padding: 4px 22px;
    border-radius: 15px;

}
.affiliate_grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-row-gap: 3.3rem;
}

.affiliate_box {
    border-radius:20px;
    padding:19px 28px;
    background: #EEF9FF;

}
.affiliate_box:nth-child(1), .affiliate_box:nth-child(5){
    background:#fff5f5;
}
.affiliate_box .content {
    margin-top: 2rem;
}
.affiliate_box .content p {
    color: var(--textColorLight);
    text-transform: capitalize;
}
.affiliate_chart {
    margin-top: 3rem;
}
.affiliate_chart div div {
    background: #EEF9FF;
    border-radius: 10px;
}