:root {
    --primary: #f5f5f5;
    --black: rgba(0, 0, 0, 1);
    --white: #fff;
    --obsidian: #070f18;
    --textColorDark: #081131;
    --textColorLight: #5e5b5b;
    --textColorLighter: rgb(159, 159, 159);
    --btnColor: rgb(12, 33, 145);
    --accentColor: #023047;
    --textBlue: #0C2191;
    --greenish: #023047;
    --secondary: #2F80ED;
    --gray: #9DA6BA;
    --info: #5A63F7;
    --green: #037615;
    --mobile: 425px;
    --tablet: 768px;
    --laptop: 1024px;
    --letterSpacing: 0.6px;
    --grey: #3D3D3D;

}

.career_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.career_first {
    width: 100%;
}

.imgBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}


.imgBg h1 {
    font-weight: bolder;
    font-size: 100px;
}


.imgBg p {
    font-weight: bold;
    font-size: 45px;
    letter-spacing: var(--letterSpacing);
}

.career_main {
    width: 100%;
    padding: 50px 30px;
}


.career_openings {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.career_openings h2, .culture_left h2, .career_teaching h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}
.career_openings p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--grey);
}

.career_openings ul, .culture_left ul {
    padding: 0px;
    list-style-type: none;
}

.career_openings ul li, .culture_left ul li {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.8;
    padding-left: 10px;
    color: var(--grey);
}

.commitment_right {
    width: 100%;
    height: 100%;
}

.commitment_right h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}
.commitment_right p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--grey);
    line-height: 1.8
}

.commitment_left {
    width: 80%;
    margin: 10px auto;
    height: 100%;
    position: relative;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end
}

.career_commitment, .career_culture {
    width: 100%;
    height: 100%;
    margin: 100px 0px;
}


.commitment_left img {
    position: absolute;
    top:0;
    left: 0;
}

.commitment_left img:nth-child(1) {
    width: 478px;
    height: 418px;
}

.commitment_left img:nth-child(3) {
    z-index: 50;
    top: 15%;
    transform: rotate(-5deg);
    width: 425px;
    height: 405px;
}
.commitment_left img:nth-child(2) {
    z-index: 60;
    width: 494px;
    height: 455px;
}
.culture_right img {
    position: absolute;
    top:0;
    left: 0;
}

.culture_right img:nth-child(1) {
    width: 478px;
    height: 418px;
}

.culture_right img:nth-child(3) {
    z-index: 50;
    top: 15%;
    transform: rotate(-5deg);
    width: 425px;
    height: 405px;
}
.culture_right img:nth-child(2) {
    z-index: 60;
    width: 494px;
    height: 455px;
}


.culture_right {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end
}

.career_teaching {
    padding: 50px;
    width: 100%;
}


.career_teaching p {
    font-size: 1.15rem;
    line-height: 1.8;
    padding-left: 10px;
    color: var(--grey);
}
