:root {
    --primary: #f5f5f5;
    --black: rgba(0, 0, 0, 1);
    --white: #fff;
    --obsidian: #070f18;
    --textColorDark: #081131;
    --textColorLight: #5e5b5b;
    --textColorLighter: rgb(159, 159, 159);
    --btnColor: rgb(12, 33, 145);
    --accentColor: #023047;
    --textBlue: #0C2191;
    --greenish: #023047;
    --secondary: #2F80ED;
    --gray: #9DA6BA;
    --info: #5A63F7;
    --green: #037615;
    --mobile: 425px;
    --tablet: 768px;
    --laptop: 1024px;
    --letterSpacing: 0.6px;
    --grey: #3D3D3D;

}

.career_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.career_first {
    width: 100%;
}

.imgBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}


.imgBg h1 {
    font-weight: bolder;
    font-size: 100px;
}


.imgBg p {
    font-weight: bold;
    font-size: 45px;
    letter-spacing: var(--letterSpacing);
}

.career_main {
    width: 100%;
    padding: 50px 30px;
}


.career_openings {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
}

.career_openings h2, .culture_left h2, .career_teaching h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}
.career_openings p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--grey);
}

.career_openings ul, .culture_left ul {
    padding: 0px;
    list-style-type: none;
}

.career_openings ul li, .culture_left ul li {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.8;
    padding-left: 10px;
    color: var(--grey);
}

.commitment_right {
    width: 100%;
    height: 100%;
}

.commitment_right h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}
.commitment_right p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--grey);
    line-height: 1.8
}

.commitment_left {
    width: 80%;
    margin: 10px auto;
    height: 100%;
    position: relative;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career_commitment, .career_culture {
    width: 100%;
    height: 100%;
    margin: 100px 0px;
}

.culture_left {
    margin-left: 40px;
}



.culture_right {
    width: 100%;
    height: 100%;
    display: flex;
}

.career_teaching {
    padding: 50px;
    width: 100%;
}


.career_teaching p {
    font-size: 1.15rem;
    line-height: 1.8;
    padding-left: 10px;
    color: var(--grey);
}


@media screen and (max-width:1200px) {
    .culture_left {
        width: 100%;
    }
    
    
    .imgBg h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    
    
    .imgBg p {
        font-size: 25px;
        letter-spacing: 1px;
    }
}


@media screen and (max-width:900px) {
    .culture_left {
        width: 100%;
    }

    .imgBg {
        padding-left: 50px;
    }

    .commitment_right {
        margin-left: 40px;
        width: 90%;
    }

    .culture_right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 525px){
    .imgBg h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    
    .imgBg p {
        font-size: 18px;
    }
}